<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="dataSourceMaster" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName">
			<value>com.mysql.jdbc.Driver</value>
		</property>
		<property name="url">
			<value>
			<![CDATA[
			jdbc:mysql://192.168.1.100/q?useUnicode=true&characterEncoding=utf8
			]]>
			</value>
		</property>
		<property name="username">
			<value>admin</value>
		</property>
		<property name="password">
			<value>admin1234</value>
		</property>
	</bean>

	<bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property name="configLocation">
			<value>classpath:/sql/sql-map.xml</value>
		</property>
		<property name="dataSource">
			<ref bean="dataSourceMaster" />
		</property>
	</bean>

</beans>
