<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="pathDest1" value="" />
        <add key="pathDest2" value="" />
        <add key="pathDest3" value="" />
        <add key="pathDest4" value="" />
        <add key="pathDest5" value="" />
        <add key="pathSource" value="" />
        <add key="webSiteUrl" value="" />
        <add key="pathReport" value="" />
    </appSettings>
</configuration>