<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="pathDest1Name" value="content-pub" />
        <add key="chkSkin" value="0" />
        <add key="chkGetImage" value="0" />
        <add key="chkDest1" value="1" />
        <add key="chkBreakLine" value="1" />
        <add key="pathDest1" value="E:\Work\front\front\content-pub" />
        <add key="pathDest2" value="" />
        <add key="pathDest3" value="" />
        <add key="pathDest4" value="" />
        <add key="pathDest5" value="" />
        <add key="webSiteUrl" value="E:\Work\front\front\content-pub" />
        <add key="pathReport" value="" />
        <add key="pathSource" value="E:\Work\front\front\content" />
        <add key="chkLocal" value="0" />
        <add key="chkFirstRun" value="0" />
        <add key="chkImport" value="1" />
        <add key="chkDataURI" value="1" />
        <add key="chkSprite" value="1" />
    </appSettings>
</configuration>