<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="publicUrlMapping"
		class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="mappings">
			<value>
				/*=router
			</value>
		</property>
	</bean>
	<bean id="router" class="q.web.ResourceRouter">
		<property name="defaultResource" ref="main" />
	</bean>
	<!-- biz -->
	<bean id="main" class="q.web.testrouter.Main" />
	<bean id="addA" class="q.web.testrouter.a.AddA"></bean>
	<bean id="getA" class="q.web.testrouter.a.GetA"></bean>
</beans>