.navleft{border:1px solid #dcdcdc;width:150px;border-radius:5px;background-color:#f6f6f6;_overflow:hidden;}
.navleft .avator{padding:10px;text-align:center;}
.navleft .avator p{line-height:22px;}
.navleft .creat{text-align:center;line-height:24px;border-top:1px solid #dcdcdc;border-bottom:1px solid #dcdcdc;}

.unav_group{width:155px;}
a.unav_item{height:24px;line-height:24px;padding-left:10px;width:140px;cursor:pointer;margin-top:5px;}
a.unav_item:hover{background-color:#E6E6E6;}
a.unav_action{background:url(images/r_c.png) no-repeat scroll left center;color:#FFF;padding-left:23px;width:160px;}
a.unav_action:hover{background-color:#fff;}