@import url("base.css");

#toper{border-bottom:1px dashed #D4D4D4;line-height:30px;padding:5px 0;}
#toper .wapper{height:30px;}
#logo{font-size:24px;position:absolute;left:0;top:0;color:#FF0065}
#nav{position:absolute;top:0;left:200px;font-size:16px;}
#msg{position:absolute;top:0;right:100px;}
#login{position:absolute;top:0;right:-10px;}

#main .wapper{padding:10px 0;}

.profile{padding:10px;}
.proline{line-height:22px;font-size:13px;}

.ui-tabs{padding:0;z-index:10;}
#streams{border:1px solid #ddd;position:relative;top:-1px;}
li.streambox{border-bottom: 1px solid #EFF1F2;padding:10px;position: relative;min-height: 50px;cursor:pointer;_zoom:1;}
li.streambox.hover{background-color:#fafafa;border-color:#e0e3e6;}
li.streambox.open{background-color:#E9F0F8;border-color:#D4E1F1;}
li.streambox .hd{float:left;height:48px;width:48px;}
li.streambox .bd{margin-left: 58px;}
li.streambox .bd .text{font-size: 14px;color: #333;line-height: 19px;word-wrap: break-word;}
.attach{color:#999;margin:10px 0;display:block;zoom:1;overflow:hidden;padding-left:10px;border-left: 2px solid #E0E3E9;}
.attach p.prop {margin-bottom: 7px;color: #ccc;}
.attach p {line-height: 1.2;margin: 2px 0;word-wrap: break-word;}
.attach .attimg{float:left;margin: 0 10px 0 0;vertical-align:top;position: relative;width:160px;}
li.streambox .fd{position:relative;padding:0 120px 0 20px;height:13px;line-height:13px;color:#999;text-align:right;}
li.streambox .fd span.time{position:absolute;left:58px;bottom:0;}
li.streambox .fd b.twarrow{position:absolute;left:0;bottom:0;width:13px;height:13px;background:url('/content/images/arrow/tweetarrow.png') no-repeat;display:none;}
li.streambox.hover .fd b.twarrow{display:block;}
li.streambox .fd b.cloarrow{position:absolute;right:0;bottom:0;width:13px;height:13px;background:url('/content/images/tips/stop.png') no-repeat;display:none;}
li.streambox.hover .fd b.cloarrow{display:block;}
li.streambox.hover .fd b.cloarrow:hover{background-image:url('/content/images/tips/stop_h.png')}
li.streambox .fd a{visibility:hidden;}
li.streambox.hover .fd a{visibility:inherit;}

#search{position:absolute;top:0;right:0;}
#search input.mttext_val{width:150px;}
#search_btn {border:none;height:24px;width:24px;cursor: pointer;position:absolute;top:4px;right:2px;
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAGlQTFRFzMzM+/v7zc3N9/f30NDQ8/Pz/Pz82tra+fn519fX/f39zs7O+Pj47Ozs2dnZ3d3d8fHx39/f8PDw+vr67u7u8vLy6Ojo0dHR9vb29fX15eXl5+fn09PT7e3t4+Pj29vb1NTU7+/v////TIrzGQAAACN0Uk5T/////////////////////////////////////////////wBmKYOWAAAAkElEQVR42lTORxKDQAxE0Z4cydkJW/c/pEHDhr9SvUWXQESqW7B0ijgQjQlnabxgTQhzPwektUCDYLLPJqBhsBrVcBxDBW1PEBJlTkEKBo2WoYUu4FAz1HAM9ifhDBkHfHiD/FOiJCuGmN9OQ9evQzb+NPptaifTf4EHA5EVR940e76gJJQSN6AY6Q7cX4ABAAOTFEyLr2nyAAAAAElFTkSuQmCC') no-repeat scroll center 5px;}
#search_btn.typing{background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAMCAMAAACKnBfWAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACdQTFRFxMTExsbG6enp09PTxcXF/Pz80NDQzc3N9PT0x8fH7Ozs+Pj4////xKNEXwAAAA10Uk5T////////////////AD3oIoYAAABFSURBVHjaXM1JDsAwCANAQ+iS5f/vLUEIufFthLCxKHJfYAPPYQu/ZdnW9rMiPcIKimEyd7/fu2Riv/6jkvvTte/5BBgAIxgFd7m8jG4AAAAASUVORK5CYII=') no-repeat scroll center 6px!important;}

.component{margin:20px 0;}
ul.complist li {display:inline;margin:0 3px;height:22px;line-height:22px;}
ul.complist li.separator {font-weight: bold;margin: 0;color: #C5C5C5;padding-left:4px;}