@import url("main/jquery.ui.css");
@import url("tooltip.css");
@import url("base.css");

/*#region Commen */
.tgtbox{z-index:9999;display:none;}
ul.list li{padding:0 12px;float:left;}
ul.list li.end{border-right:none 0;}
ul.dlist{border:1px solid #ddd;line-height:26px;background-color:#fff;border-bottom:2px solid #DA0000;}
ul.dlist li{border-bottom:1px solid #ddd;border-right:none 0;float:none;padding:0 10px 0 12px;}
ul.dlist li:hover{background-color:#f6f6f6;}
ul.dlist li.end{border-right:none 0;}
/*#endregion Commen */

#signovb{border-top:5px solid #da0000;background-color:#fff;text-align:center;padding:20px;width: 280px!important;}
#signovb .qform{text-align:left;margin:0 auto;}

#toper{position:relative;}
#toper .wapper{height:35px;background-color:#DA0000;}
#toper ul.dlist a.lk{color:#00649b;}
#toper ul.dlist a.lk:hover{color:#fff;background-color:#00649b;}
#logo{position:absolute;top:0;left:30px;background:url(images/logo.png) no-repeat scroll 0 0;display:block;width:106px;height:35px;}
#msg{position:absolute;top:0;right:242px;height:35px;line-height:35px;color:#fff;}
#msg a.lk{color:#fff;}
#msg a.lk:hover{color:#DA0000;background-color:#fff;}
#minelist{position:absolute;top:26px;left:10px;width:90px;}
.tlistarr{cursor:pointer;width:14px;height:14px;background:url(images/arrow/w_tri.gif) no-repeat;position:absolute;top:15px;right:0;}
.tlistarr.tgt{background-image:url(images/arrow/w_tri.gif);}

#note{position:absolute;top:30px;right:0;padding:10px;background-color:#FFE300;z-index:99;display:none;}
#note p{line-height:22px;}

#searchTab{position:absolute;right:15px;top:0px;height:35px;}
#searchpage {left:80px;position:relative;}
.search .search_inp{width:150px;}
#searchpage .search_inp{width:300px;}
.search .search_btn {border:none;height:24px;width:24px;cursor: pointer;position:absolute;top:4px;right:2px;
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAGlQTFRFzMzM+/v7zc3N9/f30NDQ8/Pz/Pz82tra+fn519fX/f39zs7O+Pj47Ozs2dnZ3d3d8fHx39/f8PDw+vr67u7u8vLy6Ojo0dHR9vb29fX15eXl5+fn09PT7e3t4+Pj29vb1NTU7+/v////TIrzGQAAACN0Uk5T/////////////////////////////////////////////wBmKYOWAAAAkElEQVR42lTORxKDQAxE0Z4cydkJW/c/pEHDhr9SvUWXQESqW7B0ijgQjQlnabxgTQhzPwektUCDYLLPJqBhsBrVcBxDBW1PEBJlTkEKBo2WoYUu4FAz1HAM9ifhDBkHfHiD/FOiJCuGmN9OQ9evQzb+NPptaifTf4EHA5EVR940e76gJJQSN6AY6Q7cX4ABAAOTFEyLr2nyAAAAAElFTkSuQmCC') no-repeat scroll center 5px;}
.search .search_btn.typing{background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAMCAMAAACKnBfWAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACdQTFRFxMTExsbG6enp09PTxcXF/Pz80NDQzc3N9PT0x8fH7Ozs+Pj4////xKNEXwAAAA10Uk5T////////////////AD3oIoYAAABFSURBVHjaXM1JDsAwCANAQ+iS5f/vLUEIufFthLCxKHJfYAPPYQu/ZdnW9rMiPcIKimEyd7/fu2Riv/6jkvvTte/5BBgAIxgFd7m8jG4AAAAASUVORK5CYII=') no-repeat scroll center 6px!important;}
input.input_yao{border:1px solid #dcdcdc;line-height:17px;height:18px;width:155px;margin-right:3px;}

#main{position:relative;}
#main .wapper{padding:20px 0;}
#footer{position:relative;}

.groupinfo{min-height:84px; _height:84px; overflow:visible;}
.groupinfo p{line-height:24px;}
.xiaogou{background:url(images/tips/gou.png) no-repeat scroll 2px center #f6f6f6;padding:0 10px 0 20px;line-height:22px;}
.proline{line-height:22px;font-size:13px;min-height:64px; _height:64px; overflow:visible;}

.ui-tabs{padding:0;z-index:10;}
.ui-tabs a{font-weight:normal;}
.ui-tabs .ui-tabs-nav {padding: 0 .2em 0 5px;}
.ui-tabs li.ui-state-default a{color:#1889b6;}
.ui-tabs li.ui-state-active a{color:#333;}
.ui-tabs li.ui-state-un{background:none;border:none 0;}
.tabscont{border-top:1px solid #ddd;position:relative;top:-1px;}
.inputbx{padding:5px;background: #F6F6F6;margin: 10px 0;}
#inputmain{width:99%;height:20px;}
#inputbtm{padding:5px 0 5px 2px;position:relative;}
#btnSubTweet{position:absolute;top:2px;top:4px\9;right:0;}

li.streambox{border-bottom: 1px solid #EFF1F2;padding:10px;position: relative;cursor:pointer;_zoom:1;overflow:hidden;}
li.streambox.hover{background-color:#f6f6f6;border-color:#e0e3e6;}
li.streambox.open{background-color:#E9F0F8;border-color:#D4E1F1;}
li.streambox .hd{float:left;height:48px;width:48px;}
li.streambox .bd{margin-left: 58px;min-height:60px;_height:60px;overflow:visible;}
li.streambox .bd .text{font-size:14px;color:#333;line-height:19px;word-wrap:break-word;}
.quote{color:#999;margin:10px 0;display:block;zoom:1;overflow:hidden;padding-left:10px;border-left: 2px solid #E0E3E9;}
.quote p.prop {margin-bottom: 7px;color: #ccc;}
.quote p {line-height: 1.2;margin: 2px 0;word-wrap: break-word;}
.quote .attimg{float:left;margin: 0 10px 0 0;vertical-align:top;position:relative;}
li.streambox .fd{position:relative;height:24px;line-height:24px;color:#999;text-align:right;}
li.streambox .fd span.stat{position:absolute;left:58px;bottom:0;}
li.streambox .fd b.twarrow{position:absolute;left:0;bottom:0;width:13px;height:13px;background:url(images/arrow/tweetarrow.png) no-repeat;display:none;}
li.streambox.hover .fd b.twarrow{display:block;}
li.streambox .fd b.cloarrow{position:absolute;right:0;bottom:0;width:13px;height:13px;background:url(images/tips/stop.png) no-repeat;display:none;}
li.streambox.hover .fd b.cloarrow{display:block;}
li.streambox.hover .fd b.cloarrow:hover{background-image:url(images/tips/stop_h.png);}
li.streambox.hover a.hod{visibility:inherit;}
li.streambox .repmod{border:1px solid #ddd;padding:5px;margin-bottom:10px;}
li.streambox .extend{display:none;padding:10px 0 5px 58px;}
li.streambox input.reply_val{width:200px;}
li.streambox span.actions{position:absolute;right:0;top:0;}
a.newweibo{display:block;background-color:#E2F4F8;height:26px;line-height:26px;color:#00649b;margin:5px;cursor:pointer;text-align:center;
           -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;}

.component{margin:0 0 20px;}
ul.slist{padding:0 12px;}
ul.slist li{display:inline-block;width:48px;margin:0 22px 10px 0;vertical-align:top;zoom:1;*display:inline;text-align:center;}
ul.slist li.end{margin-right:0;}
ul.complist li {display:inline;margin:0 3px;height:22px;line-height:22px;}
ul.complist li.separator {font-weight: bold;margin: 0;color: #C5C5C5;padding-left:4px;}

ul.msglist span.time{position:absolute;left:100px;top:0;color:#B2B7B5}
ul.msglist span.act{position:absolute;right:12px;top:15px;}
ul.msglist li{cursor:pointer;border-top:1px solid #ddd;padding:15px 40px 15px 68px;position:relative;zoom:1;
              min-height:48px; _height:48px; overflow:visible;}
ul.msglist li.hover{background-color:#f6f6f6;}              
ul.msglist li.end{border-bottom:1px solid #ddd;}
ul.msglist img.sldimg{position:absolute;top:15px;left:12px;}
ul.msglist p{line-height:20px;color:#333;}
ul.msglist a.lk,ul.msglist a.btn,ul.msglist a.btna{margin-right:5px;}
li.streambox ul.msglist li{padding:5px 0 0 44px;border-top:none 0;border-bottom:1px solid #ddd;}
.pagger{margin-top:5px;}

.simptab{font-size:16px;}
.simptab .split{margin:0 10px;border-left:2px solid #ddd;}
ul.mabe li{border:none 0;}

table.qform td{padding:8px 0 8px 8px;}
table.qform td[align="right"]{vertical-align:top;padding-top:16px;}
table.qform td[align="right"]{padding-top:11px;vertical-align:top;} /* QCOMCN */

.tweet{padding:0 0 0 68px;position:relative;font-size:14px;}
.tweet img.avator{position:absolute;top:0;left:0;}
.tweet p{line-height:24px;}

a.btnNM{display:block;width:220px;height:26px;background:url(images/btnNM.png) no-repeat scroll 0 0;}
a.btnNM:hover{background-position:0 -26px;}

.extend{padding-right:20px;position:relative;}
.extend a.arrext{position:absolute;bottom:0;right:0;width:16px;height:16px;background:url(images/arrow/arrdown.png) no-repeat scroll 0 0;cursor:pointer;}
.extend a.arrext.ee{background:url(images/arrow/arrup.png) no-repeat scroll 0 0;}