<?xml version="1.0" encoding="GB2312"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

	<bean id="peopleDao" class="q.dao.ibatis.PeopleDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	<bean id="groupDao" class="q.dao.ibatis.GroupDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	<bean id="categoryDao" class="q.dao.ibatis.CategoryDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	<bean id="eventDao" class="q.dao.ibatis.EventDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
</beans>
