<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

	<bean id="searchService" class="q.biz.impl.SolrSearchService">
		<property name="searchUrl" value="${q.search.url}" />
	</bean>
	<bean id="pictureService" class="q.biz.impl.DefaultPictureService">
		<property name="imageUrl" value="${q.image.url}" />
		<property name="imageUploadUrl" value="${q.image.upload.url}" />
	</bean>
	<bean id="shortUrlService" class="q.biz.impl.DefaultShortUrlService">
		<property name="putShortUrl" value="${q.short.upload.url}" />
		<property name="getShortUrl" value="${q.short.url}" />
	</bean>
	<bean id="notifyService" class="q.biz.impl.DefaultNotifyService" init-method="init">
		<property name="pubHost" value="${q.push.pub.host}" />
		<property name="pubPort" value="${q.push.pub.port}" />
		<property name="pubTimeout" value="${q.push.pub.timeout}" />
	</bean>
	<bean id="weiboService" class="q.biz.impl.DefaultWeiboService">
		<property name="notifyService" ref="notifyService" />
		<property name="searchService" ref="searchService" />
		<property name="shortUrlService" ref="shortUrlService" />
		<property name="weiboDao" ref="weiboDao" />
		<property name="peopleDao" ref="peopleDao" />
		<property name="groupDao" ref="groupDao" />
		<property name="favoriteDao" ref="favoriteDao" />
	</bean>
	<bean id="mailService" class="q.biz.impl.DefaultMailService">
		<property name="fromAddress" value="${q.mail.address}" />
		<property name="username" value="${q.mail.username}" />
		<property name="password" value="${q.mail.password}" />
		<property name="smtpHost" value="${q.mail.smtp.host}" />
		<property name="smtpPort" value="${q.mail.smtp.port}" />
		<property name="smtpSsl" value="${q.mail.smtp.ssl}" />
	</bean>
	<bean id="cacheService" class="q.biz.impl.DefaultCacheService" init-method="init">
		<property name="cacheHost" value="${q.cache.host}" />
		<property name="cachePort" value="${q.cache.port}" />
		<property name="cacheTimeout" value="${q.cache.timeout}" />
	</bean>

</beans>
