<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="publicUrlMapping"
		class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="mappings">
			<value>
				/*=router
                       </value>
		</property>
		<property name="alwaysUseFullPath">
			<value>true</value>
		</property>
	</bean>
	<bean id="jspViewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix">
			<value>/WEB-INF/jsp/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>
	<bean id="router" class="q.web.ResourceRouter">
		<property name="defaultResource" ref="default" />
		<property name="urlPrefix" value="${q.url.prefix}" />
		<property name="contextPath" value="${q.context.path}" />
		<property name="staticUrlPrefix" value="${q.static.url.prefix}" />
		<property name="imageUrl" value="${q.image.url}" />
		<property name="defaultViewResolver">
			<bean class="q.web.DefaultViewResolver" />
		</property>
		<property name="jsonViewResolver">
			<bean class="q.web.DefaultJsonViewResolver" init-method="init">
				<property name="resources">
					<map>
						<entry>
							<key>
								<value>addPeopleCheck:result</value>
							</key>
							<value>/WEB-INF/json/check.xml</value>
						</entry>
						<entry>
							<key>
								<value>addPeople:people</value>
							</key>
							<value>/WEB-INF/json/check.xml</value>
						</entry>
						<entry>
							<key>
								<value>addPeopleQuick:people</value>
							</key>
							<value>/WEB-INF/json/check.xml</value>
						</entry>
						<entry>
							<key>
								<value>addLogin:people</value>
							</key>
							<value>/WEB-INF/json/check.xml</value>
						</entry>
						<entry>
							<key>
								<value>addWeiboFavorite:favorite</value>
							</key>
							<value>/WEB-INF/json/check.xml</value>
						</entry>
						<entry>
							<key>
								<value>deleteWeiboFavorite:favorite</value>
							</key>
							<value>/WEB-INF/json/check.xml</value>
						</entry>
						<entry>
							<key>
								<value>addPeopleFollowing:people</value>
							</key>
							<value>/WEB-INF/json/check.xml</value>
						</entry>
						<entry>
							<key>
								<value>deletePeopleFollowing:people</value>
							</key>
							<value>/WEB-INF/json/check.xml</value>
						</entry>
						<entry>
							<key>
								<value>addGroupJoin:group</value>
							</key>
							<value>/WEB-INF/json/check.xml</value>
						</entry>
						<entry>
							<key>
								<value>deleteGroupJoin:group</value>
							</key>
							<value>/WEB-INF/json/check.xml</value>
						</entry>
						<entry>
							<key>
								<value>addEventJoin:event</value>
							</key>
							<value>/WEB-INF/json/check.xml</value>
						</entry>
						<entry>
							<key>
								<value>deleteEventJoin:event</value>
							</key>
							<value>/WEB-INF/json/check.xml</value>
						</entry>
						<entry>
							<key>
								<value>addProfileBasic:people</value>
							</key>
							<value>/WEB-INF/json/check.xml</value>
						</entry>
						<entry>
							<key>
								<value>getPeopleFeed:weibos</value>
							</key>
							<value>/WEB-INF/json/weibo-list.xml</value>
						</entry>
						<entry>
							<key>
								<value>getGroupFeed:weibos</value>
							</key>
							<value>/WEB-INF/json/weibo-list.xml</value>
						</entry>
						<entry>
							<key>
								<value>getGroup:weibos</value>
							</key>
							<value>/WEB-INF/json/weibo-list.xml</value>
						</entry>
						<entry>
							<key>
								<value>getPeople:weibos</value>
							</key>
							<value>/WEB-INF/json/weibo-list.xml</value>
						</entry>
						<entry>
							<key>
								<value>getSearchIndex:weibos</value>
							</key>
							<value>/WEB-INF/json/weibo-list.xml</value>
						</entry>
						<entry>
							<key>
								<value>getFavoriteIndex:weibos</value>
							</key>
							<value>/WEB-INF/json/weibo-list.xml</value>
						</entry>
						<entry>
							<key>
								<value>getWeibo:api</value>
							</key>
							<value>/WEB-INF/json/weibo-and-replies-list.xml</value>
						</entry>
						<entry>
							<key>
								<value>getWeiboReply:api</value>
							</key>
							<value>/WEB-INF/json/weibo-replies-list.xml</value>
						</entry>
						<entry>
							<key>
								<value>getMessage:replies</value>
							</key>
							<value>/WEB-INF/json/message-replies-list.xml</value>
						</entry>
						<entry>
							<key>
								<value>getCategoryIndex:categorys</value>
							</key>
							<value>/WEB-INF/json/category-list.xml</value>
						</entry>
						<entry>
							<key>
								<value>addGroup:group</value>
							</key>
							<value>/WEB-INF/json/check.xml</value>
						</entry>
						<entry>
							<key>
								<value>getGroupIndex:groups</value>
							</key>
							<value>/WEB-INF/json/group-list.xml</value>
						</entry>
						<entry>
							<key>
								<value>getSearchGroup:groups</value>
							</key>
							<value>/WEB-INF/json/group-list.xml</value>
						</entry>
						<entry>
							<key>
								<value>getGroupJoin:isJoined</value>
							</key>
							<value>/WEB-INF/json/check.xml</value>
						</entry>
						<entry>
							<key>
								<value>addWeiboPicture:imgPath</value>
							</key>
							<value>/WEB-INF/json/image.xml</value>
						</entry>
						<entry>
							<key>
								<value>addWeibo:weibo</value>
							</key>
							<value>/WEB-INF/json/check.xml</value>
						</entry>
						<entry>
							<key>
								<value>addWeiboReply:weibo</value>
							</key>
							<value>/WEB-INF/json/check.xml</value>
						</entry>
						<entry>
							<key>
								<value>getMessageIndex:messages</value>
							</key>
							<value>/WEB-INF/json/message-list.xml</value>
						</entry>
						<entry>
							<key>
								<value>getPeopleFollower:peoples</value>
							</key>
							<value>/WEB-INF/json/people-list.xml</value>
						</entry>
						<entry>
							<key>
								<value>getPeopleFollowing:peoples</value>
							</key>
							<value>/WEB-INF/json/people-list.xml</value>
						</entry>
						<entry>
							<key>
								<value>getPeopleFull:people</value>
							</key>
							<value>/WEB-INF/json/people.xml</value>
						</entry>
						<entry>
							<key>
								<value>getMessage:replies</value>
							</key>
							<value>/WEB-INF/json/message-replies-list.xml</value>
						</entry>
						<entry>
							<key>
								<value>AddMessageReply:MessageReply</value>
							</key>
							<value>/WEB-INF/json/check.xml</value>
						</entry>
					</map>
				</property>
			</bean>
		</property>
		<property name="loginPath" value="${q.url.prefix}" />
		<property name="needLoginResources">
			<set>
				<value>getMineIndex</value>
				<value>getSettingIndex</value>
				<value>getPeopleFeed</value>
				<value>getPeopleFull</value>
				<value>addPeopleFull</value>
				<value>updatePeople</value>
				<value>addPeopleFollowing</value>
				<value>deletePeopleFollowing</value>
				<value>getGroupNew</value>
				<value>addGroup</value>
				<value>getGroupFeed</value>
				<value>getGroupFeedEvent</value>
				<value>addGroupJoin</value>
				<value>deleteGroupJoin</value>
				<value>getCategoryNew</value>
				<value>addCategory</value>
				<value>getEventNew</value>
				<value>addEvent</value>
				<value>addEventJoin</value>
				<value>deleteEventJoin</value>
				<value>getMessageIndex</value>
				<value>getMessageNew</value>
				<value>addMessage</value>
				<value>getMessage</value>
				<value>addMessage</value>
				<value>addMessageReply</value>
				<value>addWeibo</value>
				<value>addWeiboReply</value>
				<value>getWeiboNew</value>
				<value>getReplyNew</value>
				<value>getWeiboRetweet</value>
				<value>addWeiboRetweet</value>
				<value>getReplyRetweet</value>
				<value>addReplyRetweet</value>
				<value>addWeiboFavorite</value>
				<value>addReplyFavorite</value>
				<value>deleteWeiboFavorite</value>
				<value>deleteReplyFavorite</value>
				<value>getProfileBasic</value>
				<value>getProfileAvatar</value>
				<value>getFavoriteIndex</value>
			</set>
		</property>
	</bean>

	<!-- global web -->
	<bean id="default" class="q.web.GetHomePage">
		<property name="categoryDao" ref="categoryDao" />
		<property name="peopleDao" ref="peopleDao" />
		<property name="weiboDao" ref="weiboDao" />
		<property name="eventDao" ref="eventDao" />
		<property name="groupDao" ref="groupDao" />
	</bean>

	<!-- people web -->
	<bean id="getMineIndex" class="q.web.people.GetMineIndex" />
	<bean id="getPeopleNew" class="q.web.people.GetPeopleNew">
	</bean>
	<bean id="getPeople" class="q.web.people.GetPeople">
		<property name="peopleDao" ref="peopleDao" />
		<property name="weiboDao" ref="weiboDao" />
		<property name="eventDao" ref="eventDao" />
		<property name="groupDao" ref="groupDao" />
		<property name="favoriteDao" ref="favoriteDao" />
	</bean>
	<bean id="addPeople" class="q.web.people.AddPeople">
		<property name="peopleDao" ref="peopleDao" />
		<property name="authcodeDao" ref="authcodeDao" />
		<property name="searchService" ref="searchService"></property>
		<property name="pictureService" ref="pictureService"></property>
	</bean>
	<bean id="getPeopleFollowing" class="q.web.people.GetPeopleFollowing">
		<property name="peopleDao" ref="peopleDao" />
		<property name="weiboDao" ref="weiboDao" />
		<property name="eventDao" ref="eventDao" />
		<property name="groupDao" ref="groupDao" />
	</bean>
	<bean id="getPeopleFollower" class="q.web.people.GetPeopleFollower">
		<property name="peopleDao" ref="peopleDao" />
		<property name="weiboDao" ref="weiboDao" />
		<property name="eventDao" ref="eventDao" />
		<property name="groupDao" ref="groupDao" />
	</bean>
	<bean id="addPeopleFollowing" class="q.web.people.AddPeopleFollowing">
		<property name="peopleDao" ref="peopleDao" />
	</bean>
	<bean id="deletePeopleFollowing" class="q.web.people.DeletePeopleFollowing">
		<property name="peopleDao" ref="peopleDao" />
	</bean>
	<bean id="updatePeople" class="q.web.people.UpdatePeople">
		<property name="peopleDao" ref="peopleDao" />
	</bean>
	<bean id="getPeopleFeed" class="q.web.people.GetPeopleFeed">
		<property name="peopleDao" ref="peopleDao" />
		<property name="weiboDao" ref="weiboDao" />
		<property name="eventDao" ref="eventDao" />
		<property name="groupDao" ref="groupDao" />
		<property name="favoriteDao" ref="favoriteDao" />
		<property name="searchService" ref="searchService" />
	</bean>
	<bean id="getPeopleIndex" class="q.web.people.GetPeopleIndex">
	</bean>
	<bean id="addPeopleCheck" class="q.web.check.AddPeopleCheck">
		<property name="peopleDao" ref="peopleDao" />
	</bean>
	<bean id="getPeopleFull" class="q.web.people.GetPeopleFull">
		<property name="peopleDao" ref="peopleDao" />
		<property name="groupDao" ref="groupDao" />
	</bean>
	<bean id="addPeopleFull" class="q.web.people.AddPeopleFull">
		<property name="peopleDao" ref="peopleDao" />
		<property name="groupDao" ref="groupDao" />
		<property name="pictureService" ref="pictureService"></property>
	</bean>

	<!-- mobile service -->
	<bean id="addPeopleQuick" class="q.web.people.AddPeopleQuick">
		<property name="peopleDao" ref="peopleDao" />
		<property name="authcodeDao" ref="authcodeDao" />
		<property name="searchService" ref="searchService"></property>
		<property name="pictureService" ref="pictureService"></property>
	</bean>

	<!-- setting web -->
	<bean id="getPasswordReset" class="q.web.people.GetPasswordReset">
		<property name="cacheService" ref="cacheService" />
	</bean>
	<bean id="addPasswordReset" class="q.web.people.AddPasswordReset">
		<property name="cacheService" ref="cacheService" />
		<property name="peopleDao" ref="peopleDao" />
	</bean>
	<bean id="addPasswordForget" class="q.web.people.AddPasswordForget">
		<property name="mailService" ref="mailService" />
		<property name="cacheService" ref="cacheService" />
		<property name="peopleDao" ref="peopleDao" />
	</bean>
	<bean id="getPasswordForget" class="q.web.people.GetPasswordForget">
	</bean>
	<bean id="getPasswordResetInvalid" class="q.web.people.GetPasswordResetInvalid">
	</bean>
	<bean id="getSettingIndex" class="q.web.people.GetSettingIndex" />
	<bean id="getSettingBasic" class="q.web.people.GetSettingBasic">
	</bean>
	<bean id="addSetting" class="q.web.people.AddSetting">
		<property name="peopleDao" ref="peopleDao" />
	</bean>
	<bean id="getProfileBasic" class="q.web.people.GetProfileBasic">
		<property name="peopleDao" ref="peopleDao" />
	</bean>
	<bean id="addProfileBasic" class="q.web.people.AddProfileBasic">
		<property name="peopleDao" ref="peopleDao" />
		<property name="searchService" ref="searchService"></property>
		<property name="pictureService" ref="pictureService"></property>
	</bean>
	<bean id="getProfileAvatar" class="q.web.people.GetProfileAvatar">
		<property name="peopleDao" ref="peopleDao" />
	</bean>
	<bean id="addAvatarEdit" class="q.web.people.AddAvatarEdit">
		<property name="pictureService" ref="pictureService"></property>
		<property name="peopleDao" ref="peopleDao" />
	</bean>
	<bean id="addAvatar" class="q.web.people.AddAvatar">
		<property name="pictureService" ref="pictureService"></property>
	</bean>
	<bean id="getProfileInterest" class="q.web.people.GetProfileInterest">
		<property name="peopleDao" ref="peopleDao" />
	</bean>
	<bean id="addProfileInterest" class="q.web.people.AddProfileInterest">
		<property name="peopleDao" ref="peopleDao" />
	</bean>

	<!-- login web -->
	<bean id="getLoginNew" class="q.web.login.GetLoginNew">
	</bean>
	<bean id="addLogin" class="q.web.login.AddLogin">
		<property name="peopleDao" ref="peopleDao" />
	</bean>
	<bean id="getLoginDelete" class="q.web.login.DeleteLogin">
		<property name="redirectPath" value="/" />
	</bean>

	<!-- category web -->
	<bean id="getCategoryIndex" class="q.web.category.GetCategoryIndex">
		<property name="categoryDao" ref="categoryDao" />
	</bean>
	<bean id="addCategory" class="q.web.category.AddCategory">
		<property name="categoryDao" ref="categoryDao" />
		<property name="redirectPath" value="/category" />
	</bean>
	<bean id="getCategoryNew" class="q.web.category.GetCategoryNew">
	</bean>

	<!-- group web -->
	<bean id="addGroup" class="q.web.group.AddGroup">
		<property name="groupDao" ref="groupDao" />
		<property name="searchService" ref="searchService"></property>
	</bean>
	<bean id="getGroupNew" class="q.web.group.GetGroupNew">
		<property name="categoryDao" ref="categoryDao" />
	</bean>
	<bean id="getGroup" class="q.web.group.GetGroup">
		<property name="groupDao" ref="groupDao" />
		<property name="weiboDao" ref="weiboDao" />
		<property name="peopleDao" ref="peopleDao" />
		<property name="eventDao" ref="eventDao" />
		<property name="favoriteDao" ref="favoriteDao" />
	</bean>
	<bean id="getGroupEvent" class="q.web.group.GetGroupEvent">
		<property name="groupDao" ref="groupDao" />
		<property name="weiboDao" ref="weiboDao" />
		<property name="peopleDao" ref="peopleDao" />
		<property name="eventDao" ref="eventDao" />
	</bean>
	<bean id="getGroupPeople" class="q.web.group.GetGroupPeople">
		<property name="groupDao" ref="groupDao" />
		<property name="weiboDao" ref="weiboDao" />
		<property name="peopleDao" ref="peopleDao" />
		<property name="eventDao" ref="eventDao" />
	</bean>
	<bean id="getGroupIndex" class="q.web.group.GetGroupIndex">
		<property name="categoryDao" ref="categoryDao" />
		<property name="groupDao" ref="groupDao" />
	</bean>
	<bean id="getGroupFeed" class="q.web.group.GetGroupFeed">
		<property name="peopleDao" ref="peopleDao" />
		<property name="weiboDao" ref="weiboDao" />
		<property name="eventDao" ref="eventDao" />
		<property name="groupDao" ref="groupDao" />
		<property name="favoriteDao" ref="favoriteDao" />
	</bean>
	<bean id="getGroupFeedEvent" class="q.web.group.GetGroupFeedEvent">
		<property name="peopleDao" ref="peopleDao" />
		<property name="weiboDao" ref="weiboDao" />
		<property name="eventDao" ref="eventDao" />
		<property name="groupDao" ref="groupDao" />
	</bean>
	<bean id="addGroupJoin" class="q.web.group.AddGroupJoin">
		<property name="groupDao" ref="groupDao" />
	</bean>
	<bean id="deleteGroupJoin" class="q.web.group.DeleteGroupJoin">
		<property name="groupDao" ref="groupDao" />
	</bean>
	<bean id="getGroupJoin" class="q.web.group.GetGroupJoin">
		<property name="groupDao" ref="groupDao" />
	</bean>
	<!-- photo web -->
	<bean id="getGroupPhoto" class="q.web.photo.GetGroupPhoto">
	</bean>

	<!-- event web -->
	<bean id="addEvent" class="q.web.event.AddEvent">
		<property name="eventDao" ref="eventDao" />
	</bean>
	<bean id="getEventNew" class="q.web.event.GetEventNew">
	</bean>
	<bean id="getEvent" class="q.web.event.GetEvent">
		<property name="groupDao" ref="groupDao" />
		<property name="eventDao" ref="eventDao" />
		<property name="peopleDao" ref="peopleDao" />
	</bean>
	<bean id="getEventIndex" class="q.web.event.GetEventIndex">
		<property name="eventDao" ref="eventDao" />
	</bean>
	<bean id="addEventJoin" class="q.web.event.AddEventJoin">
		<property name="eventDao" ref="eventDao" />
	</bean>
	<bean id="deleteEventJoin" class="q.web.event.DeleteEventJoin">
		<property name="eventDao" ref="eventDao" />
	</bean>

	<!-- weibo web -->
	<bean id="addWeibo" class="q.web.weibo.AddWeibo">
		<property name="weiboService" ref="weiboService"></property>
		<property name="pictureService" ref="pictureService"></property>
	</bean>
	<bean id="deleteWeibo" class="q.web.weibo.DeleteWeibo">
		<property name="weiboDao" ref="weiboDao" />
		<property name="peopleDao" ref="peopleDao" />
	</bean>
	<bean id="addWeiboPicture" class="q.web.weibo.AddWeiboPicture">
		<property name="pictureService" ref="pictureService"></property>
	</bean>
	<bean id="getWeibo" class="q.web.weibo.GetWeibo">
		<property name="weiboDao" ref="weiboDao" />
		<property name="peopleDao" ref="peopleDao" />
		<property name="groupDao" ref="groupDao" />
		<property name="favoriteDao" ref="favoriteDao" />
	</bean>
	<bean id="getWeiboReply" class="q.web.weibo.GetWeiboReply">
		<property name="weiboDao" ref="weiboDao" />
		<property name="peopleDao" ref="peopleDao" />
		<property name="groupDao" ref="groupDao" />
		<property name="favoriteDao" ref="favoriteDao" />
	</bean>
	<bean id="addWeiboReply" class="q.web.weibo.AddWeiboReply">
		<property name="weiboDao" ref="weiboDao" />
		<property name="weiboService" ref="weiboService" />
	</bean>
	<bean id="deleteWeiboReply" class="q.web.weibo.DeleteWeibo">
		<property name="weiboDao" ref="weiboDao" />
		<property name="peopleDao" ref="peopleDao" />
	</bean>
	<bean id="getWeiboNew" class="q.web.weibo.GetWeiboNew">
		<property name="peopleDao" ref="peopleDao" />
	</bean>
	<bean id="getWeiboRetweet" class="q.web.weibo.GetWeiboRetweet">
		<property name="weiboDao" ref="weiboDao" />
		<property name="peopleDao" ref="peopleDao" />
		<property name="groupDao" ref="groupDao" />
	</bean>
	<bean id="addWeiboRetweet" class="q.web.weibo.AddWeiboRetweet">
		<property name="weiboDao" ref="weiboDao" />
		<property name="weiboService" ref="weiboService"></property>
	</bean>
	<bean id="getReplyRetweet" class="q.web.weibo.GetReplyRetweet">
		<property name="weiboDao" ref="weiboDao" />
		<property name="peopleDao" ref="peopleDao" />
		<property name="groupDao" ref="groupDao" />
	</bean>
	<bean id="addReplyRetweet" class="q.web.weibo.AddReplyRetweet">
		<property name="weiboDao" ref="weiboDao" />
		<property name="weiboService" ref="weiboService"></property>
	</bean>

	<!-- favorite web -->
	<bean id="getFavoriteIndex" class="q.web.favorite.GetFavoriteIndex">
		<property name="favoriteDao" ref="favoriteDao" />
		<property name="weiboDao" ref="weiboDao" />
		<property name="peopleDao" ref="peopleDao" />
		<property name="groupDao" ref="groupDao" />
		<property name="eventDao" ref="eventDao" />
	</bean>
	<bean id="addWeiboFavorite" class="q.web.favorite.AddWeiboFavorite">
		<property name="favoriteDao" ref="favoriteDao" />
		<property name="weiboDao" ref="weiboDao" />
	</bean>
	<bean id="addReplyFavorite" class="q.web.favorite.AddReplyFavorite">
		<property name="favoriteDao" ref="favoriteDao" />
		<property name="weiboDao" ref="weiboDao" />
	</bean>
	<bean id="deleteWeiboFavorite" class="q.web.favorite.DeleteWeiboFavorite">
		<property name="favoriteDao" ref="favoriteDao" />
	</bean>
	<bean id="deleteReplyFavorite" class="q.web.favorite.DeleteReplyFavorite">
		<property name="favoriteDao" ref="favoriteDao" />
	</bean>

	<!-- message web -->
	<bean id="getMessageIndex" class="q.web.message.GetMessageIndex">
		<property name="messageDao" ref="messageDao" />
		<property name="peopleDao" ref="peopleDao" />
	</bean>
	<bean id="getMessageNew" class="q.web.message.GetMessageNew">
		<property name="messageDao" ref="messageDao" />
		<property name="peopleDao" ref="peopleDao" />
	</bean>
	<bean id="addMessage" class="q.web.message.AddMessage">
		<property name="messageDao" ref="messageDao" />
		<property name="peopleDao" ref="peopleDao" />
	</bean>
	<bean id="addMessageReply" class="q.web.message.AddMessageReply">
		<property name="messageDao" ref="messageDao" />
		<property name="peopleDao" ref="peopleDao" />
	</bean>
	<bean id="getMessage" class="q.web.message.GetMessage">
		<property name="messageDao" ref="messageDao" />
		<property name="peopleDao" ref="peopleDao" />
	</bean>


	<!-- auth web -->
	<bean id="getAuthcodeNew" class="q.web.authcode.GetAuthcodeNew">
		<property name="authcodeDao" ref="authcodeDao" />
	</bean>

	<!-- search web -->
	<bean id="getSearchIndex" class="q.web.people.GetSearchIndex">
		<property name="weiboDao" ref="weiboDao" />
		<property name="peopleDao" ref="peopleDao" />
		<property name="groupDao" ref="groupDao" />
		<property name="searchService" ref="searchService"></property>
	</bean>
	<bean id="getSearchGroup" class="q.web.people.GetSearchGroup">
		<property name="searchService" ref="searchService"></property>
		<property name="groupDao" ref="groupDao" />
	</bean>
	<bean id="getSearchPeople" class="q.web.people.GetSearchPeople">
		<property name="peopleDao" ref="peopleDao" />
		<property name="searchService" ref="searchService"></property>
	</bean>

</beans>
