<?xml version="1.0" encoding="GB2312"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

	<bean id="peopleDao" class="q.dao.ibatis.PeopleDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	<bean id="areaDao" class="q.dao.ibatis.AreaDaoImpl" init-method="init">
		<property name="ipFile" value="/WEB-INF/data/qqwry.dat"/>
	</bean>
	<bean id="groupDao" class="q.dao.ibatis.GroupDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	<bean id="categoryDao" class="q.dao.ibatis.CategoryDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	<bean id="eventDao" class="q.dao.ibatis.EventDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	<bean id="weiboDao" class="q.dao.ibatis.WeiboDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	<bean id="favoriteDao" class="q.dao.ibatis.FavoriteDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	<bean id="messageDao" class="q.dao.ibatis.MessageDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	<bean id="authcodeDao" class="q.dao.ibatis.AuthcodeDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
</beans>
