/*#region RESET */
a { text-decoration: none;color:#111 }
a:hover{text-decoration: none;}
ul, ol { list-style: none; }
legend { color: #000; }
fieldset, img { border: 0; }
body{font-family:Arial,sans-serif;font-size:13px;}
html {color: #2B2A25;background: #FFF;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{padding: 0;margin: 0;}
table {border-collapse: collapse;border-spacing: 0;}
fieldset,img {border: 0;}
address,caption,cite,code,dfn,em,strong,th,var,optgroup {font-style: inherit;font-weight: inherit;}
del,ins {text-decoration: none;}
li {list-style: none;}
caption,th {text-align: left;}
h1,h2,h3,h4,h5,h6 {font-size: 100%;font-weight: normal;}
q:before,q:after {content: '';}
abbr,acronym {border: 0;font-variant: normal;}
sup {vertical-align: baseline;}
sub {vertical-align: baseline;}
legend {color: #000;}
input,button,textarea,select,optgroup,option {font-family: inherit;font-size: inherit;font-style: inherit;font-weight: inherit;}
input,buttontextarea,select {*font-size: 100%;}
address, cite, dfn, em, var { font-style: normal; }
code, kbd, pre, samp { font-family: courier new, courier, monospace; }
small { font-size: 12px; }
/*#endregion RESET */

/*#region Commen */
.bodtop{border-top:1px solid #ddd;}
.cut{text-overflow:ellipsis;white-space:nowrap;overflow:hidden;display:block;}
.in_bk{display:inline-block;zoom:1;*display:inline;position:relative;}
.alignbox{overflow:hidden;display:inline-block;}
.alignbox{display:block;}
.inl6{_display:inline;}
.hide{display:none}
.height0,.height0 *{height:0;visibility:hidden;margin:0;padding:0;}
.show{display:block;}
.hide_im{display:none!important;}
.show_im{display:block!important;}
.rel{position:relative;}
.fw{font-weight:700;}
.f14{font-size:14px;}
.FR{float:right!important}
.FL{float:left!important;}
.tal{text-align:left;}
.tar{text-align:right;}
.zmax{z-index:999;}
.cr6{-moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; }
.crt2{-webkit-border-top-left-radius: 5px;-webkit-border-top-right-radius: 2px;-moz-border-radius-topleft: 2px;-moz-border-radius-topright: 2px;border-top-left-radius: 2px;border-top-right-radius: 2px;}
/* Horizontal Center -----------------------------------------------
<div class="vm1"><div class="vm2"><div class="vm3">
<input type="text"><a>ads</a><img src="#" />
</div></div></div>
vm1外部不能有line-height属性DOM
*/
.hm1 {display:table;*position:relative;overflow:hidden;}/* + height (if vertical center) + width */
.hm2 {vertical-align: middle;display: table-cell;*position: absolute;*top: 50%;} 
.hm3 {*position: relative;*top: -50%;}/* (if vertical center) + width + text-align:center; */
.hm3 *{vertical-align:middle;}

/* Autocolumn -----------------------------------------------
<div class="autocol clear">
	<a class="att" href="#"><img src="#"></a>
	<div class="cont">....</div>
</div>
*/
.autocol .att{margin:0 10px 10px 0;float: left;}
.autocol .att img{display: block;} /* + max-height and max-width */
.autocol .cont{display: table-cell;vertical-align:top;*zoom:1;}
.autocol .cont *{word-wrap: break-word;}

/*#endregion Commen */

/*#region Color */
.gred{background-color:#da0000}
.gred2{background-color:#e13333}
.ggray{background-color:#f6f6f6;}
.ggray2{background-color:#e6e6e6;}
.ggreen{background-color:#e6fffa;}
.gblue{background-color:#e2f3f8;}
.bgray{border-color:#dcdcdc;}
.bgreen{border-color:#C4F7ED;}
.bgray{border-color:#B8D0CE;}
.fblue{color:#00649b;}
.fblue2{color:#1889b6;}
.fblue3{color:#7ab8ce;}
.fgray{color:#333;}
.fgray2{color:#666;}
.fgray3{color:#999;}
/*#endregion Color */

/*#region Image */
.imga{padding:3px;border:1px solid #DDDDDD;cursor:pointer;background-color:#F2F3F8}
.img24{width:24px;height:24px}
.img48{width:48px;height:48px}
.img64{width:64px;height:64px}
.img128{width:128px;height:128px;}
.img-w120{max-width:120px;}
.img-w160{max-width:160px;}
.img-w320{max-width:320px;}
.img-320{max-width:320px;max-height:320px;}
.img-600{max-width:600px;max-height:600px;}
/*#endregion Image */

/*#region Margin */
.ml10{margin-left:10px}
.ml40{margin-left:40px}
.mr10{margin-right:10px;}
.mr20{margin-right:20px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.mt40{margin-top:40px;}
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb20{margin-bottom:20px;}
.mr5{margin-right:5px;}
.ml5{margin-left:5px;}
.ml20{margin-left:20px;}
.p10{padding:10px;}
.pl10{padding-left:10px;}
.pl20{padding-left:20px;}
.pr10{padding-right:10px;}
.pr20{padding-right:20px;}
.pr20_im{padding-right:20px!important;}
.pb10{padding-bottom:10px;}
.pt5{padding-top:5px;}
.pt10{padding-top:10px;}
.pt20{padding-top:20px;}
/*#endregion Margin */

/*#region MTtext */
.mttext,.mttext_val,.mttextar,.mttextar_val{margin:1px;padding:3px 0 3px 3px;background-color:#FFF;border-color:#666 #CCC #CCC;
		border-style:solid;border-width:1px;font-size:13px;height:20px;line-height:20px;}
.mttext_val,.mttextar_val{color:#C4CCC9;}
.mttextar,.mttextar_val{overflow:auto;}
.mttext_box{margin:0px!important;border:2px solid #5485BD!important;}
.mttext_act{color:#2B2A25!important}
/*#endregion MTtext */

/*#region Htext */
h2{color:#00649b;display:block;font-size:20px;position:relative;padding:0 0 6px;}
h3{background-color:#e6e6e6;color:#666;height:26px;line-height:26px;display:block;position:relative;padding:0 10px;margin-bottom:10px;}
h3 a.lk{position:absolute;right:6px;top:6px;line-height:14px;}
/*#endregion Htext */

/*#region Link */
a.lk{cursor:pointer;color:#00649b;}
a.lk:hover{background-color:#00649b;color:#fff;}
a.lk:active{background-color:#E2F3F8;}
a.lk2{cursor:pointer;color:#7AB8CE;}
a.lk2:hover{background-color:#7AB8CE;color:#fff;}
a.more{border:1px solid #ddd;border-left-width:3px;background:#fff url(images/botharrow.gif) no-repeat scroll right -20px;padding:1px 13px 1px 3px;cursor:pointer;}
a.more:hover{border-color:#88A825}
.newin{background:url(images/tips/new_window.gif) no-repeat right center;padding-right:12px;color:#88A825}
.newin:hover{color:#A89E2D;text-decoration:underline;}
a.ul {color:#666;text-decoration: none;background: url(images/underline.gif) repeat-x left bottom;}
a.ul:hover {background-image: url(images/underlineh.gif);}
.qq{background:transparent url(images/tips/Question4.png) no-repeat scroll right center;padding-right:15px!important;height:12px;line-height:12px;cursor:pointer;}
/*#endregion Link */

/*#region Button */
a.acu{background-color:#9F0000;border-bottom:2px solid #E1E1E1;color:#fff;font-size:12px;height:24px;line-height:24px;padding:0 15px;}
a.acu:hover{border-bottom:medium none;margin-top:1px;}
.btnl {border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;background-color:#D0E5F2;border:1px solid #D0E5F2;font-weight:bold;padding:4px 8px;cursor:pointer;}
.btnl:hover {border-color:#9FBBCD;text-decoration:none;}
.btnl:active {border-color:#9FBBCD;}

a.btnr,a.btnb,a.btnb2{display:inline-block;zoom:1;*display:inline;position:relative;cursor:pointer;text-align:center;}
a.btnr{height:23px;line-height:23px;color:#fff;width:56px;background:url(images/btnr.png) no-repeat scroll 0 0 #fff;}
a.btnr:hover{background-position:0 -23px;}
a.btnr:active{background-position:0 -46px;color:#333;}
a.btnb,a.btnb2{background:url(images/btnb.png) repeat-x scroll left top;height:18px;line-height:19px;color:#fff;border-radius:4px;border:1px solid #fff;padding:0 10px;}
a.btnb:hover,a.btnb2:hover{color:#00649b;border-color:#00649b;}
a.btnb:active,a.btnb2:active{color:#333;border-color:#333;line-height:20px;}
a.btnb2{background:url(images/btnb2.png) repeat-x scroll left top;height:20px;line-height:21px;}

.btnw16{padding-left:16px;position:relative;}
.btnw16 .settings {background:url(images/btn-set.gif) no-repeat scroll 0 0 transparent;position:absolute;top:6px;left:3px;width:10px;height:10px;}
.btnw16:hover .settings {background-position:0 -15px;}
.btnw24{padding-left:24px;position:relative;}
.btnw24 .btnarror {background:url(images/tips/check16.png) no-repeat scroll 0 0 transparent;position:absolute;top:4px;left:3px;width:16px;height:16px;}
.btnw24 .btnadd {background:url(images/tips/plus32.png) no-repeat scroll 0 0 transparent;position:absolute;top:6px;left:4px;width:16px;height:16px;}
/*#endregion Button */

/*#region Grids */
body{text-align:center;}
.wapper{margin:0 auto;width:1000px;position:relative;text-align:left;}
.col-main {float: left;width: 100%; min-height: 1px;}
.col-sub, .col-extra {float: left;}
.layout:after, .main-wrap:after, .col-sub:after, .col-extra:after {content: '\20';display: block;height: 0;clear: both;}
.layout, .main-wrap, .col-sub, .col-extra {zoom: 1;}
.grid-s5m0 .main-wrap { margin-left: 200px; }
.grid-s5m0 .col-sub { width: 190px; margin-left: -100%; }
.grid-s6m0 .main-wrap { margin-left: 240px; }
.grid-s6m0 .col-sub { width: 230px; margin-left: -100%; }
.grid-s7m0 .main-wrap { margin-left: 280px; }
.grid-s7m0 .col-sub { width: 270px; margin-left: -100%; }
.grid-m0s6 .main-wrap { margin-right: 240px; }
.grid-m0s6 .col-sub { width: 230px; margin-left: -230px; }
.grid-m0s7 .main-wrap { margin-right: 280px; }
.grid-m0s7 .col-sub { width: 270px; margin-left: -270px; }
.grid-m0s8 .main-wrap { margin-right: 320px; }
.grid-m0s8 .col-sub { width: 310px; margin-left: -310px; }
.grid-m0s9 .main-wrap { margin-right: 360px; }
.grid-m0s9 .col-sub { width: 350px; margin-left: -350px; }
.grid-m0s10 .main-wrap { margin-right: 400px; }
.grid-m0s10 .col-sub { width: 390px; margin-left: -390px; }
.grid-e6m0s5 .main-wrap { margin: 0 200px 0 240px; }
.grid-e6m0s5 .col-sub { width: 190px; margin-left: -190px; }
.grid-e6m0s5 .col-extra { width: 230px; margin-left: -100%; }
.grid-m0e8s8 .main-wrap { margin-right: 806px; }
.grid-m0e8s8 .col-sub { width: 393px; margin-left: -393px; }
.grid-m0e8s8 .col-extra { width: 393px; margin-left: -806px; }
.grid-s12m0 .main-wrap { margin-left: 480px; }
.grid-s12m0 .col-sub { width: 470px; margin-left: -100%; }
.grid-s4m0e6 .main-wrap { margin: 0 240px 0 160px; }
.grid-s4m0e6 .col-sub { width: 150px; margin-left: -100%; }
.grid-s4m0e6 .col-extra { width: 220px; margin-left: -220px; }
/*#endregion Grids */

/*#region HACK */
.go6789 { zoom:1\9; }
.go89 { zoom:1\0; }
.go67 { *zoom: 1; }
.go7 { +zoom: 1; }
.go6 {_zoom: 1;}
.clear:after{content:'\0020';clear:both;height:0;display:block;}
.clear{*zoom:1;}
#PadA,#PadB,#ajaxload,#blurPad{
_position:absolute!important;_top:0!important;_left:0!important;
_height:expression(eval(document.documentElement.clientHeight>document.documentElement.scrollHeight)?document.documentElement.clientHeight:document.documentElement.scrollHeight)!important;
}
/*#endregion HACK */
