#index{margin:0 auto;width:820px;background-color:#fff;position:relative;height:600px;text-align:left;}
    
#index .header{border-top:3px solid #DA0000;background-color:#f6f6f6;position:relative;height:160px;}
#index .header .logo{position:absolute;top:18px;left:15px;display:block;width:192px;height:60px;background:url(images/logo2.png) no-repeat scroll 0 0;}
#index .header .titles{position:absolute;top:80px;left:88px;display:block;width:392px;height:52px;background:url(images/titles.png) no-repeat scroll 0 0;}

.signin-area{position:absolute;top:20px;left:520px;padding:20px;}
.signin-area th{font-size: 14px;font-weight: normal;text-align: right;color: #333;}
.signin-area td{height:35px;text-align:left;}

.sldlist{width:480px;}
.sldlist span.time{position:absolute;right:0;top:0;color:#B2B7B5}
.sldlist span.actions{position:absolute;right:0;top:0;}
.sldlist li{cursor:pointer;padding:10px 10px 10px 58px;position:relative;zoom:1;}
.sldlist li img.sldimg{position:absolute;top:10px;left:0;}
.sldlist li p{line-height:24px;color:#333;}
.sldlist li .lk{margin-right:5px;}
.sldlist li .act{position:absolute;top:10px;right:0;}
.sldlist li .actun{position:absolute;top:10px;right:0;}
.msglist li{border-top:none 0!important;}

#index .footer{text-align:center;height:30px;line-height:30px;margin:30px 0;}
#index .footer ul{list-style: none outside none;}
#index .footer li{display:inline;margin-right:10px;}  