/* RESET ---------------------------------------------------------------------------------------- */
a { text-decoration: none;color:#111 }
a:hover{text-decoration: none;}
ul, ol { list-style: none; }
legend { color: #000; }
fieldset, img { border: 0; }
body{font-family:Arial,sans-serif;font-size:13px;}
html {color: #2B2A25;background: #FFF;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{
    padding: 0;margin: 0;}
table {border-collapse: collapse;border-spacing: 0;}
fieldset,img {border: 0;}
address,caption,cite,code,dfn,em,strong,th,var,optgroup {font-style: inherit;font-weight: inherit;}
del,ins {text-decoration: none;}
li {list-style: none;}
caption,th {text-align: left;}
h1,h2,h3,h4,h5,h6 {font-size: 100%;font-weight: normal;}
q:before,q:after {content: '';}
abbr,acronym {border: 0;font-variant: normal;}
sup {vertical-align: baseline;}
sub {vertical-align: baseline;}
legend {color: #000;}
input,button,textarea,select,optgroup,option {font-family: inherit;font-size: inherit;font-style: inherit;font-weight: inherit;}
input,buttontextarea,select {*font-size: 100%;}
address, cite, dfn, em, var { font-style: normal; }
code, kbd, pre, samp { font-family: courier new, courier, monospace; }
small { font-size: 12px; }

/* Commen ---------------------------------------------------------------------------------------- */
h1{color:#494949;display:block;font-size:24px;font-weight:700;line-height:1.1em;padding:0 0 12px;position:relative;}
h2{color:#88A825;display:block;font-size:20px;position:relative;padding:0 0 6px;}
h3{font-size:14px;color:#FF0065;position:relative;display:block;margin:0 0 10px 0;_zoom:1;border-left:5px solid #FF0065;padding-left:5px;height:24px;line-height:24px;}
h3 span.separator{font-weight: bold;}
h3 a.arr{font-size:12px;position:absolute;top:0;right:0;}
h4{color:#2B2A25;position:relative;display:block;padding:3px 0 4px 0;}
h5{color:#2B2A25;font-size:18px;font-weight:700;line-height:1.1em;padding:0 0 6px;position:relative;margin-bottom:10px;}
h6{font-weight: 800;line-height: 1.3;}

.bodtop{border-top:1px solid #ddd;}
.cut{text-overflow:ellipsis;white-space:nowrap;overflow:hidden;display:block;}
.in_bk{display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;position:relative;}
.hide{display:none}
.height0,.height0 *{height:0;visibility:hidden;}
.show{display:block;}
.hide_im{display:none!important;}
.show_im{display:block!important;}
.rel{position:relative;}
.fw{font-weight:700;}
.f14{font-size:14px;}
.FR{float:right!important}
.FL{float:left!important;}
.tal{text-align:left;}
.tar{text-align:right;}
.cr6{-moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; }
.crt2{-webkit-border-top-left-radius: 5px;-webkit-border-top-right-radius: 2px;-moz-border-radius-topleft: 2px;-moz-border-radius-topright: 2px;border-top-left-radius: 2px;border-top-right-radius: 2px;}

.imga{padding:3px;border:1px solid #DDDDDD;cursor:pointer;background-color:#F2F3F8}
.img48{width:48px;height:48px}
.img100{width:100px;height:100px}
.img-w120{max-width:120px;}
.img-w160{max-width:160px;}
.img-320{max-width:320px;max-height:320px}
.img-600{max-width:600px;max-height:600px}

.ml10{margin-left:10px}
.ml40{margin-left:40px}
.mr10{margin-right:10px;}
.mr20{margin-right:20px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.mt40{margin-top:40px;}
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb20{margin-bottom:20px;}
.mr5{margin-right:5px;}
.ml5{margin-left:5px;}
.ml20{margin-left:20px;}
.pl10{padding-left:10px;}
.pr10{padding-right:10px;}
.pb10{padding-bottom:10px;}
.pt5{padding-top:5px;}
.pt10{padding-top:10px;}

.white{color:#F2F3F8;}
.black{color:#2B2A25;}
.buff{color:#CEEAEC;}
.blue{color:#009bee;}
.violet{color:#FF0065;}
.coofe{color:#513834;}
.ashen{color:#F2AE30;}
.yellow{color:#FFE300;}
.red{color:#F23410;}
.reddep{color:#B0250E}
.green{color:#7ED547;}
.greendep{color:#94B24D;}
.gray{color:#B2B7B5}
.grayd{color:#666}

/* Button ------------------------------------------------------------------------------------- */
.mttext,.mttext_val,.mttextar,.mttextar_val{margin:1px;padding:3px 0 3px 3px;background-color:#FFF;border-color:#666 #CCC #CCC;
		border-style:solid;border-width:1px;font-size:13px;height:20px;line-height:20px;}
.mttext_val,.mttextar_val{color:#C4CCC9;}
.mttextar,.mttextar_val{overflow:auto;}
.mttext_box{margin:0px!important;border:2px solid #5485BD!important;}
.mttext_act{color:#2B2A25!important}

a.lk{cursor:pointer;color:#009bee;}
a.lk:hover{background-color:#009bee;color:#F2F3F8;}
a.replay{cursor:pointer;color:#009bee;background:url(/content/images/tips/replay.png) no-repeat scroll 2px center;padding:0 2px 0 16px;}
a.replay:hover{color:#F2F3F8;background:#009bee url(/content/images/tips/replay_hov.png) no-repeat scroll 2px center;}
a.resub{cursor:pointer;color:#009bee;background:url(/content/images/tips/resub.png) no-repeat scroll 2px center;padding:0 2px 0 16px;}
a.resub:hover{color:#F2F3F8;background:#009bee url(/content/images/tips/resub_hov.png) no-repeat scroll 2px center;}
a.lk2{cursor:pointer;}
a.lk2:hover{text-decoration:underline;color:#88A825}
a.lk3{cursor:pointer;color:#88A825}
a.lk3:hover{text-decoration:underline;color:#B0250E}
a.lk4{cursor:pointer;color:#88A825}
a.lk4:hover{text-decoration:underline;color:#fff}
a.lk5{cursor:pointer;color:#B2B7B5}
a.lk5:hover{text-decoration:underline;color:#88A825}
a.arr{background:url(images/arrow/sh2_ex.png) no-repeat right center;*background-position:right -1px;padding-right:12px;color:#009bee;cursor:pointer;}
a.arr:hover{background-image:url(images/arrow/sh2_exh.png);color:#FF0065}
a.tit{cursor:pointer;color:#A89E2D;}
a.tit:hover{color:#FF8A00;text-decoration:underline;}
a.icolink{padding-left:16px;cursor:pointer;}
a.icorlink{padding-right:16px;cursor:pointer;}
a.icolink:hover,a.icorlink:hover{text-decoration:underline;color:#88A825}
a.more{border:1px solid #ddd;border-left-width:3px;background:#fff url(/content/images/botharrow.gif) no-repeat scroll right -20px;padding:1px 13px 1px 3px;cursor:pointer;}
a.more:hover{border-color:#88A825}
.newin{background:url(/content/images/tips/new_window.gif) no-repeat right center;padding-right:12px;color:#88A825}
.newin:hover{color:#A89E2D;text-decoration:underline;}
a.ul {color:#666;text-decoration: none;background: url(/content/images/underline.gif) repeat-x left bottom;}
a.ul:hover {background-image: url(/content/images/underlineh.gif);}
a.acu{background-color:#9F0000;border-bottom:2px solid #E1E1E1;color:#fff;font-size:12px;height:24px;line-height:24px;padding:0 15px;}
a.acu:hover{border-bottom:medium none;margin-top:1px;}
.qq{background:transparent url(/content/images/tips/Question4.png) no-repeat scroll right center;padding-right:15px!important;height:12px;line-height:12px;cursor:pointer;}

.btna,.btn {-moz-border-radius:3px;-webkit-border-radius:3px;background:url("/content/images/btn-w.gif") repeat-x scroll left top #D8D8D8;border-color:#BBB #BBB #999;border-style:solid;border-width:1px;color:#333;cursor:pointer;display:inline-block;font-size:1.1em;padding:3px 10px;text-align:center;text-shadow:0 1px #F0F0F0;}
.btna:hover, .btn:hover {border-bottom:1px solid #444;border-color:#666 #666 #444;text-decoration:none;}
.btna:active, .btn:active{background:none repeat scroll 0 0 #E0E0E0;border-color:#999;text-shadow:none;}
.btna {background-color:#C3DD82;background-image:url("/content/images/btn-g.gif");border-bottom:1px solid #648517;border-color:#8CB332 #8CB332 #648517;color:#406A24;text-shadow:0 1px #D4ED95;}
.btna .light {color:#8DA766;font-weight:normal;}
.btna:hover, .btna:active {border-bottom:1px solid #405A04;border-color:#648517 #648517 #405A04;text-decoration:none;}
.btna:active {background:none repeat scroll 0 0 #C3DD82;border-color:#8CB332;}
.btnw{padding-left:16px;position:relative;}
.btnw .settings {background:url("/content/images/btn-set.gif") no-repeat scroll 0 0 transparent;position:absolute;top:6px;left:3px;width:10px;height:10px;}
.btnw:hover .settings {background-position:0 -15px;}
.btnl {border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;background-color:#D0E5F2;border:1px solid #D0E5F2;font-weight:bold;padding:4px 8px;cursor:pointer;}
.btnl:hover {border-color:#9FBBCD;text-decoration:none;}
.btnl:active {border-color:#9FBBCD;}

/* Grids Layout ---------------------------------------------------------------------------- */
body{text-align:center;}
.wapper{margin:0 auto;width:1000px;position:relative;text-align:left;overflow:hidden;}
.col-main {float: left;width: 100%; min-height: 1px;}
.col-sub, .col-extra {float: left;}
.layout:after, .main-wrap:after, .col-sub:after, .col-extra:after {content: '\20';display: block;height: 0;clear: both;}
.layout, .main-wrap, .col-sub, .col-extra {zoom: 1;}
.grid-s5m0 .main-wrap { margin-left: 200px; }
.grid-s5m0 .col-sub { width: 190px; margin-left: -100%; }
.grid-s6m0 .main-wrap { margin-left: 240px; }
.grid-s6m0 .col-sub { width: 230px; margin-left: -100%; }
.grid-s7m0 .main-wrap { margin-left: 280px; }
.grid-s7m0 .col-sub { width: 270px; margin-left: -100%; }
.grid-m0s6 .main-wrap { margin-right: 240px; }
.grid-m0s6 .col-sub { width: 230px; margin-left: -230px; }
.grid-m0s7 .main-wrap { margin-right: 280px; }
.grid-m0s7 .col-sub { width: 270px; margin-left: -270px; }
.grid-m0s8 .main-wrap { margin-right: 320px; }
.grid-m0s8 .col-sub { width: 310px; margin-left: -310px; }
.grid-m0s9 .main-wrap { margin-right: 360px; }
.grid-m0s9 .col-sub { width: 350px; margin-left: -350px; }
.grid-m0s10 .main-wrap { margin-right: 400px; }
.grid-m0s10 .col-sub { width: 390px; margin-left: -390px; }
.grid-e6m0s5 .main-wrap { margin: 0 200px 0 240px; }
.grid-e6m0s5 .col-sub { width: 190px; margin-left: -190px; }
.grid-e6m0s5 .col-extra { width: 230px; margin-left: -100%; }
.grid-m0e8s8 .main-wrap { margin-right: 806px; }
.grid-m0e8s8 .col-sub { width: 393px; margin-left: -393px; }
.grid-m0e8s8 .col-extra { width: 393px; margin-left: -806px; }
.grid-s12m0 .main-wrap { margin-left: 480px; }
.grid-s12m0 .col-sub { width: 470px; margin-left: -100%; }

/* HACK ----------------------------------------------------------------------------- */
.go678 { zoom:1\9; }
.go67 { *zoom: 1; }
.go6 {_zoom: 1;}
.clear:after{content:'\0020';clear:both;height:0;display:block;}
.clear{*zoom:1;}
#PadA,#PadB,#ajaxload,#blurPad{
_position:absolute!important;_top:0!important;_left:0!important;
_height:expression(eval(document.documentElement.clientHeight>document.documentElement.scrollHeight)?document.documentElement.clientHeight:document.documentElement.scrollHeight)!important;
}

/* Menu ---------------------------------------------------------- */
.ui-menu {list-style:none;padding: 2px;margin: 0;display:block;}
.ui-menu .ui-menu {margin-top: -3px;}
.ui-menu .ui-menu-item {margin:0;padding: 0;zoom: 1;width: 100%;}
.ui-menu .ui-menu-item a {text-decoration:none;display:block;padding:.2em .4em;line-height:1.5;zoom:1;}
.ui-menu .ui-menu-item a {font-weight: normal;}
.ui-menu .ui-menu-item a.ui-state-hover,.ui-menu .ui-menu-item a.ui-state-active {font-weight: normal;margin: -1px;}

/* Select ---------------------------------------------------------- */
.ui-selectmenu { display: block; position:relative; height:23px; text-decoration: none; overflow:hidden;font-size:12px;font-weight:normal;}
.ui-selectmenu-icon { position:absolute; right:3px; margin-top:-8px; top: 50%; }
.ui-selectmenu-menu { padding:0; margin:0; list-style:none; position:absolute; top: 0; visibility: hidden; overflow: auto; }
.ui-selectmenu-open { visibility: visible; }
.ui-selectmenu-menu-popup { margin-top: -1px; }
.ui-selectmenu-menu li { padding:0; margin:0; display: block; border-top: 1px dotted transparent; border-bottom: 1px dotted transparent; border-right-width: 0 !important; border-left-width: 0 !important; font-weight: normal !important; }
.ui-selectmenu-menu li a,.ui-selectmenu-status {line-height: 23px; display:block; padding:0 6px; outline:none; text-decoration:none;font-size:12px;}
.ui-selectmenu-menu li.ui-selectmenu-hasIcon a,
.ui-selectmenu-hasIcon .ui-selectmenu-status { padding-left: 20px; position: relative; margin-left: 5px; }
.ui-selectmenu-menu li .ui-icon, .ui-selectmenu-status .ui-icon { position: absolute; top: 1em; margin-top: -8px; left: 0; }
.ui-selectmenu-status { line-height: 23px; }
.ui-selectmenu-menu li span,.ui-selectmenu-status span { display:block; margin-bottom: .2em; }
.ui-selectmenu-menu li .ui-selectmenu-item-header { font-weight: bold; }
.ui-selectmenu-menu li .ui-selectmenu-item-footer { opacity: .8; }
.ui-selectmenu-menu .ui-selectmenu-group { font-size:12px; }
.ui-selectmenu-menu .ui-selectmenu-group .ui-selectmenu-group-label { font-size:12px; display:block; padding:.6em .5em 0; font-weight:normal; }
.ui-selectmenu-menu .ui-selectmenu-group ul { margin: 0; padding: 0; }

/* Tooltip ----------------------------------*/
.ui-tooltip {padding:8px;position:absolute;z-index:9999;-o-box-shadow: 0 0 5px #aaa;-moz-box-shadow: 0 0 5px #aaa;-webkit-box-shadow: 0 0 5px #aaa;box-shadow: 0 0 5px #aaa;}
* html .ui-tooltip {background-image: none;}
body .ui-tooltip { border-width:2px;}

/* FormError ----------------------------------*/
.inputContainer {position: relative;float: left;}
.formError {position: absolute;top: 300px;left: 300px;display: block;z-index: 5000;cursor: pointer;}
.ajaxSubmit {padding: 20px;background: #7ED547;border: 1px solid #999;display: none}
.formError .formErrorContent {width: 100%;background: #F23410;position:relative;z-index:5001;color: #fff;width: 150px;font-family: tahoma;font-size: 11px;border: 2px solid #ddd;box-shadow: 0 0 6px #000;-moz-box-shadow: 0 0 6px #000;-webkit-box-shadow: 0 0 6px #000;padding: 4px 10px 4px 10px;border-radius: 6px;-moz-border-radius: 6px;-webkit-border-radius: 6px;}
.greenPopup .formErrorContent {background: #7ED547;}
.blackPopup .formErrorContent {background: #393939;color: #FFF;}
.formError .formErrorArrow {width: 15px;margin: -2px 0 0 13px;position:relative;z-index: 5006;}
.formError .formErrorArrowBottom {box-shadow: none;-moz-box-shadow: none;-webkit-box-shadow: none;margin: 0px 0 0 12px;top:2px;}
.formError .formErrorArrow div {border-left: 2px solid #ddd;border-right: 2px solid #ddd;box-shadow: 0 2px 3px #444;-moz-box-shadow: 0 2px 3px #444;-webkit-box-shadow: 0 2px 3px #444;font-size: 0px;height: 1px;background: #F23410;margin: 0 auto;line-height: 0;font-size: 0;display: block;}
.formError .formErrorArrowBottom div {box-shadow: none;-moz-box-shadow: none;-webkit-box-shadow: none;}
.greenPopup .formErrorArrow div {background: #7ED547;}
.blackPopup .formErrorArrow div {background: #393939;color: #FFF;}
.formError .formErrorArrow .line10 {width: 15px;border: none;}
.formError .formErrorArrow .line9 {width: 13px;border: none;}
.formError .formErrorArrow .line8 {width: 11px;}
.formError .formErrorArrow .line7 {width: 9px;}
.formError .formErrorArrow .line6 {width: 7px;}
.formError .formErrorArrow .line5 {width: 5px;}
.formError .formErrorArrow .line4 {width: 3px;}
.formError .formErrorArrow .line3 {width: 1px;border-left: 2px solid #ddd;border-right: 2px solid #ddd;border-bottom: 0 solid #ddd;}
.formError .formErrorArrow .line2 {width: 3px;border: none;background: #ddd;}
.formError .formErrorArrow .line1 {width: 1px;border: none;background: #ddd;}
/* Layout ---------------------------------------------------------------------------------------- */
ul.list li{padding:0 10px;border-right:1px solid #ddd;float:left;}
ul.list li.end{border-right:none 0;}

#toper{border-bottom:1px dashed #D4D4D4;line-height:20px;padding:5px 0;}
#toper .wapper{height:20px;}
#tips{position:absolute;top:0;left:-10px;}
#litnav{position:absolute;top:0;right:100px;}
#logindis{position:absolute;top:0;right:-10px;}

#header{border-bottom: 2px solid #FF0065;}
#header .wapper{height:60px;}
#logo{font-size:32px;position:absolute;left:0;top:14px;font-family:微软雅黑;color:#FF0065}
#logo span{font-size:20px;}
#nav{position:absolute;top:30px;left:400px;font-size:16px;}
#search{position:absolute;top:20px;right:0;}
#search input.mttext_val{width:200px;}
#search_btn {border:none;height:24px;width:24px;cursor: pointer;position:absolute;top:4px;right:2px;
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAGlQTFRFzMzM+/v7zc3N9/f30NDQ8/Pz/Pz82tra+fn519fX/f39zs7O+Pj47Ozs2dnZ3d3d8fHx39/f8PDw+vr67u7u8vLy6Ojo0dHR9vb29fX15eXl5+fn09PT7e3t4+Pj29vb1NTU7+/v////TIrzGQAAACN0Uk5T/////////////////////////////////////////////wBmKYOWAAAAkElEQVR42lTORxKDQAxE0Z4cydkJW/c/pEHDhr9SvUWXQESqW7B0ijgQjQlnabxgTQhzPwektUCDYLLPJqBhsBrVcBxDBW1PEBJlTkEKBo2WoYUu4FAz1HAM9ifhDBkHfHiD/FOiJCuGmN9OQ9evQzb+NPptaifTf4EHA5EVR940e76gJJQSN6AY6Q7cX4ABAAOTFEyLr2nyAAAAAElFTkSuQmCC') no-repeat scroll center 5px;}
#search_btn.typing{background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAMCAMAAACKnBfWAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACdQTFRFxMTExsbG6enp09PTxcXF/Pz80NDQzc3N9PT0x8fH7Ozs+Pj4////xKNEXwAAAA10Uk5T////////////////AD3oIoYAAABFSURBVHjaXM1JDsAwCANAQ+iS5f/vLUEIufFthLCxKHJfYAPPYQu/ZdnW9rMiPcIKimEyd7/fu2Riv/6jkvvTte/5BBgAIxgFd7m8jG4AAAAASUVORK5CYII=') no-repeat scroll center 6px!important;}

#main{padding-top:10px;}
#inputmain{width:583px;height:20px;}
.inputbtm{padding:1px;position:relative;}
#inputbtn{position:absolute;top:1px;right:1px;}
#selinp{position:absolute;top:1px;right:60px;}
#selinp a.ui-selectmenu span.ui-icon-signal-diag{position:absolute;top:3px;left:3px;background-image: url(main/images/ui-icons_ff0084_256x240.png);}
#selinp a.ui-selectmenu-focus span.ui-icon-signal-diag{background-image: url(main/images/ui-icons_ffffff_256x240.png);}
#selinp a.ui-state-active span.ui-icon-signal-diag{background-image: url(main/images/ui-icons_ff0084_256x240.png);}
#selinp a.ui-selectmenu span.ui-selectmenu-status{padding-left:24px;}

.profile{background-color:#F2F3F8;padding:10px;-moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; }
.proline{line-height:22px;font-size:13px;}
ul.ui-tabs-nav{border-bottom:1px solid #ddd;}
ul.ui-tabs-nav a{font-size:13px;font-weight:normal;}
ul.ui-tabs-nav li.ui-state-active{padding:0 0 1px 0;margin-bottom: 0;}

.component{margin:20px 0;}
ul.complist li {display:inline;margin:0 3px;height:22px;line-height:22px;}
ul.complist li.separator {font-weight: bold;margin: 0;color: #C5C5C5;padding-left:4px;}

ul.slist li{display:inline-block;width:120px;margin:0 11px 11px 0;vertical-align:top;zoom:1;*display:inline;}
ul.slist li.end{margin-right:0;}

li.streambox{border-bottom: 1px solid #EFF1F2;padding:10px;position: relative;min-height: 50px;cursor:pointer;_zoom:1;}
li.streambox.hover{background-color:#fafafa;border-color:#e0e3e6;}
li.streambox.open{background-color:#E9F0F8;border-color:#D4E1F1;}
li.streambox .hd{float:left;height:48px;width:48px;}
li.streambox .bd{margin-left: 58px;}
li.streambox .bd .text{font-size: 14px;color: #333;line-height: 19px;word-wrap: break-word;}
.attach{color:#999;margin:10px 0;display:block;zoom:1;overflow:hidden;padding-left:10px;border-left: 2px solid #E0E3E9;}
.attach p.prop {margin-bottom: 7px;color: #ccc;}
.attach p {line-height: 1.2;margin: 2px 0;word-wrap: break-word;}
.attach .attimg{float:left;margin: 0 10px 0 0;vertical-align:top;position: relative;width:160px;}
li.streambox .fd{position:relative;padding:0 120px 0 20px;height:13px;line-height:13px;color:#999;text-align:right;}
li.streambox .fd span.time{position:absolute;left:58px;bottom:0;}
li.streambox .fd b.twarrow{position:absolute;left:0;bottom:0;width:13px;height:13px;background:url('/content/images/arrow/tweetarrow.png') no-repeat;display:none;}
li.streambox.hover .fd b.twarrow{display:block;}
li.streambox .fd b.cloarrow{position:absolute;right:0;bottom:0;width:13px;height:13px;background:url('/content/images/tips/stop.png') no-repeat;display:none;}
li.streambox.hover .fd b.cloarrow{display:block;}
li.streambox.hover .fd b.cloarrow:hover{background-image:url('/content/images/tips/stop_h.png')}
li.streambox .fd a{visibility:hidden;}
li.streambox.hover .fd a{visibility:inherit;}