#slidbox{overflow:hidden;position:relative;height:1500px;}
#slider{position:absolute;top:0;left:0;width:1160px;height:1500px;}
.sldlist{width:580px;}
.sldlist span.time{position:absolute;right:0;top:0;color:#B2B7B5}
.sldlist span.actions{position:absolute;right:0;top:0;}
.sldlist li{cursor:pointer;border-top:1px solid #ddd;padding:15px 40px 15px 68px;position:relative;zoom:1;
            min-height:48px; _height:48px; overflow:visible;}
#sldroot li{background:url("images/rollbtn.png") no-repeat scroll 550px center transparent;}
#sldroot li.hover{background-image:url("images/rollbtn_h.png");background-color:#f6f6f6;}
.sldlist li.end{border-bottom:1px solid #ddd;}
.sldlist li img.sldimg{position:absolute;top:10px;left:0;}
.sldlist li p{line-height:20px;color:#333;}
.sldlist li .lk{margin-right:5px;}
.sldlist li .act{position:absolute;top:10px;right:0;}
.sldlist li .actun{position:absolute;top:10px;right:0;}
#sld2{position:absolute;top:0;left:580px;}
