ul.pssmap {margin:0 0 12px;height:30px;border-bottom:1px solid #CCCCCC;border-top:1px solid #CCCCCC;padding-left:30px;}
ul.pssmap li, 
ul.pssmap .label, 
ul.pssmap .checked{background-image:url(images/index.png);background-position:-1000px 0;background-repeat:no-repeat;}
ul.pssmap li{display:inline-block;zoom:1;*display:inline;position:relative;
             background-position:100% -58px;}
ul.pssmap .label {display:inline-block;zoom:1;*display:inline;position:relative;
                    margin:0 16px 0 0;padding:0 8px;height:30px;line-height:30px;}
ul.pssmap .done .label{padding-left:28px;}
ul.pssmap .checked {display:none;background-position:0 -314px;position:absolute;top:8px;left:8px;height:13px;width:13px;}
ul.pssmap .done .checked{display:block;}
ul.pssmap .selected {background-position:100% -9px;margin-left:-24px;+left:-24px;}
ul.pssmap .selected .label {padding-left:28px;background-color:#FFF09A;background-position:0 -108px;}
