@{
	ViewBag.Title = "Quanzi";
	Layout = "~/Views/qcomcn/Layout.cshtml";
}
<div class="layout grid-s4m0e6">
		<div class="col-main"><div class="main-wrap pl20">
			<div class="profile">
				<img src="/usersimg/avatar2.jpg" alt="portrait" class="FL mr10 img64" />
				<div class='proline'>
					<p><a href="#" class="lk">我爱旅行</a></p>
					<p class="gray">我的存在就是无法避免的伤害我的存在就是无法避免的伤害我的存在就是无法避免的伤害我的存在就是无法避免的伤害我的存在就是无法避免的伤害</p>
				</div>
			</div>
			<div class="ui-tabs mt10">
				<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix">
					<li class="ui-state-default crt2 ui-state-active"><a href="/qcomcn/Group">讨论区</a></li>
					<li class="ui-state-default crt2"><a href="/qcomcn/GroupMember">成员</a></li>
				</ul>
			</div>
			<div class='tabscont'>
			@Html.Partial("model/InputMain")
			@Html.Partial("model/Weibo")
			</div>
		</div></div>
		<div class="col-sub">
			 @Html.Partial("model/NavLeft")
		</div>
		<div class="col-extra">
			<div class="groupinfo">
				<p class="fgray3 tar">由YAO创建于2011-04-23</p>
				<p class="fgray3 tar">
					<span class="xiaogou in_bk">已加入 | <a href="#" class='lk'>退出</a></span>
					<a href="#" class='btnb'>管理</a>
				</p>
			</div>

			<div class="component">
			<h3>新成员<a class='lk'>更多</a></h3>
			<ul class="slist">
				<li>
						<a href="#"><img class="img48" src="/usersimg/1.png" alt="img" /></a>
					<div class="gray">
						GEEK POWER
					</div>
				</li>
				<li class="">
						<a href="#"><img class="img48" src="/usersimg/sago.jpg" alt="img" /></a>
					<div class="gray">
						公司秘书丝袜
					</div>
				</li>

				<li class="end">
						<a href="#"><img class="img48" src="/usersimg/7.png" alt="img" /></a>
					<div class="gray">
						有木有！！～
					</div>
				</li>
				<li class="">
						<a href="#"><img class="img48" src="/usersimg/sago.jpg" alt="img" /></a>
					<div class="gray">
						公司秘书丝袜
					</div>
				</li>
				<li>
						<a href="#"><img class="img48" src="/usersimg/4.png" alt="img" /></a>
					<div class="gray">
						波多野结衣
					</div>
				</li>
				<li class='end'>
						<a href="#"><img class="img48" src="/usersimg/1.png" alt="img" /></a>
					<div class="gray">
						波多野结衣
					</div>
				</li>
			</ul>
			</div>
			<div class="component">
			<h3>我附近的人<a class='lk'>更多</a></h3>
			<ul class="slist">
				<li>
						<a href="#"><img class="img48" src="/usersimg/1.png" alt="img" /></a>
					<div class="gray">
						GEEK POWER
					</div>
				</li>
				<li class="">
						<a href="#"><img class="img48" src="/usersimg/sago.jpg" alt="img" /></a>
					<div class="gray">
						公司秘书丝袜
					</div>
				</li>

				<li class="end">
						<a href="#"><img class="img48" src="/usersimg/7.png" alt="img" /></a>
					<div class="gray">
						有木有！！～
					</div>
				</li>
			</ul>
			</div>
			<div class="component">
			<h3>活跃成员<a class='lk'>更多</a></h3>
			<ul class="slist">
				<li>
						<a href="#"><img class="img48" src="/usersimg/1.png" alt="img" /></a>
					<div class="gray">
						GEEK POWER
					</div>
				</li>
				<li class="">
						<a href="#"><img class="img48" src="/usersimg/sago.jpg" alt="img" /></a>
					<div class="gray">
						公司秘书丝袜
					</div>
				</li>

				<li class="end">
						<a href="#"><img class="img48" src="/usersimg/7.png" alt="img" /></a>
					<div class="gray">
						有木有！！～
					</div>
				</li>
			</ul>
			</div>

		</div>
	</div>

