@{
    ViewBag.Title = "Quanzi";
    Layout = "~/Views/qcomcn/Layout.cshtml";
}
<script type="text/javascript">
    seajs.use('qcomcn.js', function (qcomcn) {
        var $ = qcomcn.jq;
        seajs.use('chinaarea.js');
        seajs.use('jqplus/jq.jcrop.js');
        $(function () {
            qcomcn.Init();

            var pheight = 331.6;
            $('#cropbox').Jcrop({
                onChange: showPreview,
                onSelect: showPreview,
                aspectRatio: 1
            });

            $(".localArea").each(function () {
                $(this).jChinaArea({
                    s1: '江苏省',
                    s2: '常州市',
                    s3: '钟楼区'
                });
            });
        });
    });
    function showPreview(coords) {
        if (parseInt(coords.w) > 0) {
            calculate(coords, 24, $('#Img1'));
            calculate(coords, 48, $('#Img2'));
            calculate(coords, 128, $('#Img3'));
        }
    }
    var calculate = function (coords, radix, o) {
        var rx = radix / coords.w;
        var ry = radix / coords.h;
        o.css({
            width: Math.round(rx * 300) + 'px',
            height: Math.round(ry * pheight) + 'px',
            marginLeft: '-' + Math.round(rx * coords.x) + 'px',
            marginTop: '-' + Math.round(ry * coords.y) + 'px'
        });
    }
</script>
<div class="layout grid-s7m0">
    <div class="col-main"><div class="main-wrap pr10">
        <h2>建新圈子</h2>
        <table class='qform'>
		<tr>
			<td align="right">圈子名称*：</td>
			<td><input type='text' class='mttext'></td>
		</tr>
		<tr>
			<td align="right">所在地：</td>
			<td class='localArea'>
                <select class='province'></select>
                <select class='city'></select>
                <select class='county'></select>
            </td>
		</tr>
		<tr>
			<td align="right">圈子头像：</td>
			<td>

            </td>
		</tr>
		<tr>
			<td align="right">所在分类：</td>
			<td>
                <select class=''></select>
            </td>
		</tr>
		<tr>
			<td align="right">关于我：</td>
			<td><textarea class="mttextar" style="width:200px;height:100px;"></textarea></td>
		</tr>
		<tr>
			<td></td>
			<td><button class='ui_btn'>提交</button></td>
		</tr>
	</table>
    </div></div>
    <div class="col-sub">
        @Html.Partial("model/NavLeft")
    </div>
</div>

