@{
    ViewBag.Title = "send";
    Layout = "~/Views/qcomcn/Layout.cshtml";
}
<script type="text/javascript">
    seajs.use('qcomcn.js', function (qcomcn) {
        var $ = qcomcn.jq;

        $(function () {
            qcomcn.Init();
        });
    });
</script>
<h2 class='mb20'>私信</h2>
<div class="layout grid-m0s7">
    <div class="col-main"><div class="main-wrap">
        
    </div></div>
    <div class="col-sub">
        
    </div>
</div>
