@{
    ViewBag.Title = "send";
    Layout = "~/Views/qcomcn/Layout.cshtml";
}
<script type="text/javascript">
    seajs.use('qcomcn.js', function (qcomcn) {
        var $ = qcomcn.jq;

        $(function () {
            qcomcn.Init();
        });
    });
</script>
<h2 class='mb20'>发私信</h2>
<div class="layout grid-m0s7">
    <div class="col-main"><div class="main-wrap">
        <p>收信人：</p>
        @Html.Partial("message/Autocomplate", "100%")
        <p class="mt20">你想说的：</p>
        <p><textarea class="mttextar_val" style="width:600px;height:200px;">我想你了 . . .</textarea></p>
        <p style="width:600px;margin-top:5px;">
            <input type="button" name="name" value="发送" class='btn FL' />
            <a class="lk f14 FR">取消</a>
        </p>
    </div></div>
    <div class="col-sub">
        
    </div>
</div>
