@{
    ViewBag.Title = "AtMe";
    Layout = "~/Views/qcomcn/Layout.cshtml";
}
<script type="text/javascript">
    seajs.use('qcomcn.js', function (qcomcn) {
        var $ = qcomcn.jq;
        $(function () {
            qcomcn.Init();
        });
    });
</script>
<h2 class="mb20">我的收藏</h2>
<div style="border:1px solid #ddd;width:540px;margin-right:30px;float:left;">
@Html.Partial("model/Weibo")
</div>
<div style="width:240px;float:left;">
    <div class="profile">
        <img src="/usersimg/avatar2.jpg" alt="portrait" class="FL mr10" />
        <div class='proline'>
            <a href="#" class="lk">彪马拖鞋 &#64seanlinwang</a><br />
            <span class="mr10">上海, 长宁区</span><span>2011-05-23加入</span><br />
            <span class="gray">我的存在就是无法避免的伤害</span><br />
        </div>
    </div>
</div>
