@{
    ViewBag.Title = "Friends";
    Layout = "~/Views/qcomcn/Layout.cshtml";
}
<link href="/content/slider.css" rel="stylesheet" type="text/css" />
<style type="text/css">
.simptab{font-size:16px;}
.simptab .split{margin:0 10px;}
ul.mabe li{border:none 0;}
</style>
<script type="text/javascript">
    seajs.use('qcomcn.js', function (q) {
        var $ = q.jq;
        $(function () {
            q.Init();

        });
    });
</script>
<div class="layout grid-m0s7 mt10">
    <div class="col-main"><div class="main-wrap pr10">
        <p class='simptab'><span>我的关注（23）</span><span class='split'>|</span><a class="lk">我的粉丝（123）</a></p>
        <ul class="msglist">
            <li>
                <img src="/usersimg/avatar5.jpeg" alt="Alternate Text" class="sldimg" />
                <p class='rel'>
                    <a class="lk">小芳 xiaofang</a>
                    <span class="act"><a class="btna msg">私信</a><a class="btn at">&#64</a><a class="btn unwat">解除关注</a></span>
                </p>
                <p>上海市, 徐汇区</p>
            </li>
            <li>
                <img src="/usersimg/avatar5.jpeg" alt="Alternate Text" class="sldimg" />
                <p class='rel'>
                    <a class="lk">小芳 xiaofang</a>
                    <span class="act"><a class="btna msg">私信</a><a class="btn at">&#64</a><a class="btn unwat">解除关注</a></span>
                </p>
                <p>上海市, 徐汇区</p>
            </li>
            <li>
                <img src="/usersimg/avatar5.jpeg" alt="Alternate Text" class="sldimg" />
                <p class='rel'>
                    <a class="lk">小芳 xiaofang</a>
                    <span class="act"><a class="btna msg">私信</a><a class="btn at">&#64</a><a class="btn unwat">解除关注</a></span>
                </p>
                <p>上海市, 徐汇区</p>
            </li>
            <li>
                <img src="/usersimg/avatar5.jpeg" alt="Alternate Text" class="sldimg" />
                <p class='rel'>
                    <a class="lk">小芳 xiaofang</a>
                    <span class="act"><a class="btna msg">私信</a><a class="btn at">&#64</a><a class="btn unwat">解除关注</a></span>
                </p>
                <p>上海市, 徐汇区</p>
            </li>
            <li>
                <img src="/usersimg/avatar5.jpeg" alt="Alternate Text" class="sldimg" />
                <p class='rel'>
                    <a class="lk">小芳 xiaofang</a>
                    <span class="act"><a class="btna msg">私信</a><a class="btn at">&#64</a><a class="btn unwat">解除关注</a></span>
                </p>
                <p>上海市, 徐汇区</p>
            </li>
        </ul>
    </div></div>
    <div class="col-sub">
        <h3>可能感兴趣的</h3>
        <ul class="msglist mabe">
            <li>
                <img src="/usersimg/avatar5.jpeg" alt="Alternate Text" class="sldimg" />
                <p class='rel'>
                    <a class="lk">小芳 xiaofang</a>
                </p>
                <p>上海市, 徐汇区</p>
                <p><a class="btn wat">关注</a></p>
            </li>
            <li>
                <img src="/usersimg/avatar5.jpeg" alt="Alternate Text" class="sldimg" />
                <p class='rel'>
                    <a class="lk">小芳 xiaofang</a>
                </p>
                <p>上海市, 徐汇区</p>
                <p><a class="btn wat">关注</a></p>
            </li>
            <li>
                <img src="/usersimg/avatar5.jpeg" alt="Alternate Text" class="sldimg" />
                <p class='rel'>
                    <a class="lk">小芳 xiaofang</a>
                </p>
                <p>上海市, 徐汇区</p>
                <p><a class="btn wat">关注</a></p>
            </li>
            <li>
                <img src="/usersimg/avatar5.jpeg" alt="Alternate Text" class="sldimg" />
                <p class='rel'>
                    <a class="lk">小芳 xiaofang</a>
                </p>
                <p>上海市, 徐汇区</p>
                <p><a class="btn wat">关注</a></p>
            </li>
            <li>
                <img src="/usersimg/avatar5.jpeg" alt="Alternate Text" class="sldimg" />
                <p class='rel'>
                    <a class="lk">小芳 xiaofang</a>
                </p>
                <p>上海市, 徐汇区</p>
                <p><a class="btn wat">关注</a></p>
            </li>
        </ul>
    </div>
</div>
