@{
    ViewBag.Title = "Quanzi";
    Layout = "~/Views/qcomcn/Layout.cshtml";
}
<script type="text/javascript">
    seajs.use('qcomcn.js', function (qcomcn) {
        var $ = qcomcn.jq;

        $(function () {
            qcomcn.Init();
            $('#search_inp').focus(function () {
                $('#search_btn').addClass('typing');
            }).blur(function () {
                $('#search_btn').removeClass('typing');
            });

            seajs.use('app/app_home.js', function (homeapp) {
                var txt1 = new homeapp.text.TextModel({
                    id: 1231423,
                    username: 'hecaitou',
                    realname: '木卫二',
                    text: '在复旦校园拍Alicia时，引来不少路人围观侧目。有一个GG骑着自行车带着MM路过，居然在车上行注目礼，直至看不见Alicia为止。车后座的MM脸都变色了。。。',
                    pushtime: '2011/4/19 10:34:20',
                    time: '',
                    attach: {
                        src: '#',
                        img: 'pdouban.jpg',
                        title: '想告诉你我了解的山下智久（5.22 番外君2号）',
                        soures: '山下智久',
                        cate: '圈子',
                        desc: '在这里，我想把我知道的山下智久尽可能完整的告诉你们他是如何一步一步...'
                    }
                });
                var txts = new homeapp.text.TextList();
                txts.add(txt1);
                window.app = new homeapp.app({
                    el: $('body'),
                    txtSeed: "#streams",
                    txtModel: txts
                });
                txt2 = new homeapp.text.TextModel({
                    id: 1231423,
                    username: 'hecaitou',
                    realname: '木卫二',
                    text: '在复旦校园拍Alicia时，引来不少路人围观侧目。有一个GG骑着自行车带着MM路过，居然在车上行注目礼，直至看不见Alicia为止。车后座的MM脸都变色了。。。',
                    pushtime: '2011/4/19 10:34:20',
                    time: '',
                    attach: {
                        src: '#',
                        img: 'pdouban.jpg',
                        title: '想告诉你我了解的山下智久（5.22 番外君2号）',
                        soures: '山下智久',
                        cate: '圈子',
                        desc: '在这里，我想把我知道的山下智久尽可能完整的告诉你们他是如何一步一步...'
                    }
                }); ;
                txts.add(txt2);
            });

        });
    });
</script>
<div class="layout grid-s5m0e6">
        <div class="col-main"><div class="main-wrap pr10">
            <div class="profile">
                <img src="/usersimg/avatar2.jpg" alt="portrait" class="FL mr10" />
                <div class='proline'>
                    <p><a href="#" class="lk">我爱旅行</a></p>
                    <p><span class="mr10">上海, 长宁区</span><span>2011-05-23加入</span></p>
                    <p class="gray">我的存在就是无法避免的伤害</p>
                </div>
            </div>
            <div class="ui-tabs mt10">
                <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix">
                    <li class="ui-state-default crt2 ui-state-active"><a href="#">讨论区</a></li>
                    <li class="ui-state-default crt2"><a href="#">成员</a></li>
                </ul>
                <div id="search">
                    <input id="search_inp" class="mttext_val" type="input" name="name" value="搜索圈子、信息" />
                    <input type="submit" id="search_btn" class="" title="搜索" value="" />
                </div>
            </div>
            <div class='tabscont'>
            @Html.Partial("InputMain")
            <ul id='streams'>
                
            </ul>
            <script type="text/html" id="stream">
                <div class='hd'>
                    <a href='/#!/{{ username }}' title='{{ realname }}'>
                    <img class='img48' src='/usersimg/{{ username }}-48.jpg' alt='{{ realname }}'>
                    </a>
                </div>
                <div class='bd'>
                    <div class='text'><a class='lk' href='/#!/{{ username }}' title='{{ realname }}'>{{ realname }}</a>
                    {{ text }}
                    </div>
                    {{#attach}}
                    <div class='attach'>
                        {{#img}}
                            <div class='attimg'>
                                <img src='/usersimg/{{img}}' class='img-w160' alt=''>
                            </div>
                        {{/img}}
                        {{#title}}
                            <h6><a href='{{src}}' title='{{title}}' target='_blank'>{{title}}</a></h6>
                        {{/title}}
                        {{#source}}
                            <p class='prop'>来自{{#cate}}<a href='#' class='lk' target='_blank'>{{#soures}}</a></p>
                        {{/source}}
                        {{#desc}}
                            <p class='desc'>{{desc}}</p>
                        {{/desc}}
                    </div>
                    {{/attach}}
                </div>
                <div class='fd'>
                    <b class='twarrow png'></b>
                    <span class='time'>{{time}}</span>
                    <a class='replay png' href='#'>回复</a>
                    <a class='resub ml5 png' href='#'>转发</a>
                    <b class='cloarrow png'></b>
                </div>
            </script>
            </div>
        </div></div>
        <div class="col-sub">
             @Html.Partial("NavLeft")
        </div>
        <div class="col-extra">
            <div style="height:110px;">
                <p>由YAO创建于2011-04-23</p><br />
                <a href="#" class='btn'>加入</a>
                <a href="#" class='btn'>邀请</a>
                <a href="#" class='btna'>管理</a><br /><br />
                <a href="#" class='btn btnw24'><span class='btnarror'></span>已加入|退出</a>
            </div>

            <div class="component">
            <h3>你附近的人<span class='separator'> · · · · · ·</span><a class='arr'>更多</a></h3>
            blablabla
            </div>

            <div class="component">
            <h3>新成员<span class='separator'> · · · · · ·</span><a class='arr'>更多</a></h3>
            blablabla
            </div>

            <div class="component">
            <h3>活跃成员<span class='separator'> · · · · · ·</span><a class='arr'>更多</a></h3>
            blablabla
            </div>
        </div>
    </div>

