<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/content-q/qcomcn.css")" rel="stylesheet" type="text/css" />
    <script src="@Html.Script("/scripts/sea.js")" type="text/javascript"></script>
</head>
<body>
<div class="body">
    <div id="toper"><div class="wapper">
        <a id='logo'>Q.com.cn</a>
        <div class="search">
            <input class="search_inp mttext_val" type="text" name="name" value="搜索圈子、信息" />
            <input type="submit" class="search_btn" title="搜索" value="" />
        </div>
        <div id="msg">
            <ul class="list">
                <li><a href='${urlPrefix}/category'>首页</a></li>
                <li><a href='${urlPrefix}/people/${loginCookie.peopleId}/following'>好友</a></li>
                <li class='rel'><a class="lk" href='${urlPrefix}/people/${loginCookie.peopleId}'>${loginCookie.realName}</a>
                <span tgtt='minelist' class='in_bk tlistarr'></span>
		        <div id="minelist" class='tgtbox'>
		            <ul class="dlist">
		                <li><a class='lk' href='${urlPrefix}/people/${loginCookie.peopleId}'>我的主页</a></li>
		                <li><a class="lk" href='${urlPrefix}/at'>&#64提到我的</a></li>
		                <li><a class="lk" href='${urlPrefix}/reply'>我的回复</a></li>
		                <li class="end"><a class="lk" href='${urlPrefix}/favorite'>我的收藏</a></li>
		            </ul>
		        </div>
                </li>
                <li><a class="lk" href='${urlPrefix}/message'>私信</a></li>
                <li><a class="lk" href='${urlPrefix}/setting/basic'>设置</a></li>
                <li class="end"><a class="lk" href='${urlPrefix}/login/delete'>退出</a></li>
            </ul>
        </div>
        <div id="note">
            <p>1条新的回应<a class="lk">查看回应</a></p>
            <p>3位新粉丝<a class="lk">查看我的粉丝</a></p>
            <p>6条发言提到我<a class="lk">查看&#64我</a></p>
        </div>
    </div></div>

    <div id="main"><div class="wapper">
        @RenderBody()
    </div></div>

    <div id="footer">
    </div>
</div>

<div id="dialog_target"></div>
</body>
</html>
