@{
    ViewBag.Title = "用户设置";
    Layout = "~/Views/qcomcn/Layout.cshtml";
}
<link href="@Url.Content("~/content/jcrop/jquery-jcrop-0.9.8.css")" rel="stylesheet" type="text/css" />
<style type="text/css">

</style>
<script type="text/javascript">
    seajs.use('qcomcn.js', function (qcomcn) {
        var $ = qcomcn.jq;
        seajs.use('chinaarea.js');
        seajs.use('jq.jcrop.js');

        $(function () {
            qcomcn.Init();

            var pheight = 331.6;
            $('#cropbox').Jcrop({
                onChange: showPreview,
                onSelect: showPreview,
                aspectRatio: 1
            });

            $(".localArea").each(function () {
                $(this).jChinaArea({
                    s1: '江苏省',
                    s2: '常州市',
                    s3: '钟楼区'
                });
            });
        });
    });
    function showPreview(coords) {
        if (parseInt(coords.w) > 0) {
            calculate(coords, 24, $('#Img1'));
            calculate(coords, 48, $('#Img2'));
            calculate(coords, 128, $('#Img3'));
        }
    }
    var calculate = function (coords, radix, o) {
        var rx = radix / coords.w;
        var ry = radix / coords.h;
        o.css({
            width: Math.round(rx * 300) + 'px',
            height: Math.round(ry * pheight) + 'px',
            marginLeft: '-' + Math.round(rx * coords.x) + 'px',
            marginTop: '-' + Math.round(ry * coords.y) + 'px'
        });
    }
</script>
<h2 class="mb20">设置</h2>
<div class="ui-tabs mt10">
    <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix">
        <li class="ui-state-default crt2 ui-state-active"><a href="#">头像</a></li>
        <li class="ui-state-default crt2"><a href="#">基本信息</a></li>
        <li class="ui-state-default crt2"><a href="#">修改密码</a></li>
    </ul>
</div>
<div class="tabscont clear p10">
    <div style="float:left;width:320px;margin-right:10px;" >
        <img src="/usersimg/portrain.jpg" id="cropbox" class="img-w320" />
    </div>
    <div style="float:left;width:600px;">
        从电脑中选择你喜欢的照片：<br />
        <span class="gray">您可以上传JPG、JPEG、GIF或PNG文件。</span><br /><br />
        <ul>
            <li>1. <input type="file" name="name" value=" " /></li>
            <li>2. <input type="button" name="name" value="上传" /></li>
            <li>3. 随意拖拽或缩放大图中的虚线方格，下方预览的小图即为保存后的头像图标。
        </li>
        </ul>
        <div class="wh24" style="overflow:hidden;float:left;">
		    <img src="css/images/portrain.jpg" id="Img1" />
	    </div>
	    <div class="wh48 ml10" style="overflow:hidden;float:left;">
		    <img src="css/images/portrain.jpg" id="Img2" />
	    </div>
	    <div class="wh128 ml10" style="overflow:hidden;float:left;">
		    <img src="css/images/portrain.jpg" id="Img3" />
	    </div>
    </div>

        
</div>

<div class="tabscont clear p10">
<table class='qform'>
		<tr>
			<td align="right">用户名：</td>
			<td><input type='text' class='mttext'></td>
		</tr>
		<tr>
			<td align="right">姓名：</td>
			<td><input type='text' class='mttext'></td>
		</tr>
		<tr>
				<td align="right">所在地：</td>
				<td class='localArea'>
                    <select class='province'></select>
                    <select class='city'></select>
                    <select class='county'></select>
                </td>
			</tr>
			<tr>
				<td align="right">家乡：</td>
				<td class='localArea'>
                    <select class='province'></select>
                    <select class='city'></select>
                    <select class='county'></select>
                </td>
			</tr>
			<tr>
				<td align="right">出身日期：</td>
				<td>
                    <select class=''></select>
                    <select class=''></select>
                    <select class=''></select>
                </td>
			</tr>
			<tr>
				<td align="right">性别：</td>
				<td>
                    <input id="rdo1" type="radio" value='' name='sex' />
                    <label for='rdo1'>男</label>
                    <input id="rdo2" type="radio" value='' name='sex' />
                    <label for='rdo2'>女</label>
                </td>
			</tr>
			<tr>
				<td align="right">博客或个人网址：</td>
				<td><input type='text' class='mttext'></td>
			</tr>
			<tr>
				<td align="right">关于我：</td>
				<td><textarea class="mttextar" style="width:200px;height:100px;"></textarea></td>
			</tr>
		<tr>
			<td></td>
			<td><button class='ui_btn'>保存</button></td>
		</tr>
	</table>
</div>
<div class="tabscont clear p10">
<table class='qform'>
		<tr>
			<td align="right">旧密码：</td>
			<td><input type='password' class='mttext'></td>
		</tr>
		<tr>
			<td align="right">设置新密码：</td>
			<td><input type='password' class='mttext'></td>
		</tr>
		<tr>
			<td align="right">重复新密码：</td>
			<td><input type='password' class='mttext'></td>
		</tr>
		<tr>
			<td></td>
			<td><button class='ui_btn'>保存</button></td>
		</tr>
	</table>
</div>