@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <title>SignUp</title>
    <link href="@Url.Content("~/content/qcomcn.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/content/step.css")" rel="stylesheet" type="text/css" />
    <style type="text/css">
    .wapper{position:relative;height:600px;}
    #logo{top:200px;font-size:28px;}
    .content{position:absolute;top:260px;left:60px;}
    p{line-height:26px;}
    </style>
    <script src="@Html.Script("/scripts/sea.js")" type="text/javascript"></script>
    <script type="text/javascript">
        seajs.use('qcomcn.js', function (q) {
            var $ = q.jq;
            seajs.use('chinaarea.js');

            $(function () {
                q.Init();
                $(".localArea").each(function(){
                    $(this).jChinaArea({
                        s1: '江苏省',
                        s2: '常州市',
                        s3: '钟楼区'
                    });
                });
            });
        });
    </script>
</head>
<body>
<div class="wapper">
    <h1 id="logo">Q.com.cn</h1>
    <div class="content">

        <ul class='pssmap'>
            <li class="done">
                <div class="label">
                    <span class="checked"></span>
                    <span class="text">创建帐号</span>
                </div>
            </li>
            <li class="selected">
                <div class="label">
                    <span class="checked"></span>
                    <span class="text">填写资料</span>
                </div>
            </li>
            <li class="">
                <div class="label">
                    <span class="checked"></span>
                    <span class="text">关注好友</span>
                </div>
            </li>
        </ul>

        <table class='qform'>
			<tr>
				<td align="right">邮箱：</td>
				<td><input type='text' class='mttext'></td>
			</tr>
			<tr>
				<td align="right">用户名：</td>
				<td><input type='text' class='mttext'></td>
			</tr>
			<tr>
				<td align="right">真实姓名：</td>
				<td><input type='text' class='mttext'></td>
			</tr>
			<tr>
				<td align="right">密码：</td>
				<td><input type='password' class='mttext'></td>
			</tr>
			<tr>
				<td align="right">重复密码：</td>
				<td><input type='password' class='mttext'></td>
			</tr>
			<tr>
				<td align="right">验证码：</td>
				<td><input type='text' class='mttext'><img src="#" alt="Alternate Text" /></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="checkbox"> 记住我</td>
			</tr>
			<tr>
				<td></td>
				<td><button class='ui_btn'>创建帐号</button></td>
			</tr>
		</table>

        <table class='qform'>
			<tr>
				<td align="right">所在地：</td>
				<td class='localArea'>
                    <select class='province'></select>
                    <select class='city'></select>
                    <select class='county'></select>
                </td>
			</tr>
			<tr>
				<td align="right">家乡：</td>
				<td class='localArea'>
                    <select class='province'></select>
                    <select class='city'></select>
                    <select class='county'></select>
                </td>
			</tr>
			<tr>
				<td align="right">出身日期：</td>
				<td>
                    <select class=''></select>
                    <select class=''></select>
                    <select class=''></select>
                </td>
			</tr>
			<tr>
				<td align="right">性别：</td>
				<td>
                    <input id="rdo1" type="radio" value='' name='sex' />
                    <label for='rdo1'>男</label>
                    <input id="rdo2" type="radio" value='' name='sex' />
                    <label for='rdo2'>女</label>
                </td>
			</tr>
			<tr>
				<td align="right">手机：</td>
				<td><input type='password' class='mttext'></td>
			</tr>
			<tr>
				<td align="right"></td>
				
			</tr>
			<tr>
				<td></td>
				<td><button class='ui_btn'>完成</button></td>
			</tr>
		</table>
    </div>
</div>
</body>
</html>
