@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <title>Qcomcn - SignIn</title>
	<link href="@Url.Content("~/content/main/jquery.ui.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/content/qcomcn.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/content/default.css")" rel="stylesheet" type="text/css" />
    <style type="text/css">
    #index .header{margin-top:80px;height:115px;}
    #index .header .titles{top:45px;left:218px;width:500px;height:20px;background:url(../content/images/titles2.png) no-repeat scroll 0 0;}
    .errorTT{height:37px;line-height:37px;color:#333;font-size:14px;background:url(../content/images/exclamation.png) no-repeat scroll left center;padding:10px 0 10px 50px;margin:35px 0;}
    .signuptgt{position:absolute;left:380px;top:50px;border-left:1px solid #dcdcdc;height:200px;padding-left:90px;}
    h5{font-size:16px;font-weight:700;color:#00649b;}
    </style>
	<script src="/scripts/sea.js")" type="text/javascript"></script>
	<script type="text/javascript">
	    seajs.use('qcomcn', function (q) {
	        var $ = q.jq;
	        $(function () {
	            q.loader();
	        });
	    });
	</script>
</head>
<body>
<div id="index">
    <div class="header">
	    <div class="logo"></div>
	    <div class="titles"></div>
    </div>
    <p class="errorTT">您所选择的操作需要的登录才能继续</p>

    <div style="border:1px solid #ddd;padding:50px 90px;position:relative;">
    <h5>登录</h5>
    <table class='qform'>
		<tr>
			<td align="right">邮箱：</td>
			<td><input type='text' class='mttext' size='23'></td>
		</tr>
		<tr>
			<td align="right">密码：</td>
			<td><input type='text' class='mttext' size='23'><a href="#" class='lk ml10'>忘记密码</a></td>
		</tr>
		<tr>
			<td></td>
			<td><input type="checkbox"> 记住我</td>
		</tr>
		<tr>
			<td></td>
			<td><input class='btnr' type="button" value="登 录" /></td>
		</tr>
	</table>

        <div class="signuptgt">
        <h5>注册</h5>
        还不是Q.com.cn用户？<a href="signup.html" class='btnb'>立即注册！</a>
        </div>
    </div>


    
</div>
</body>
</html>
