<script type="text/javascript">
    seajs.use('qcomcn', function (q) {
        var $ = q.jq;
        $(function () {
            seajs.use('app/weibo', function (homeapp) {

            });
        });
    });
</script>
        <ul id='streams'>
                
        </ul>
        <script type="text/html" id="stream">
            <div class='hd'>
                <a href='/#!/{{ username }}' title='{{ realname }}'>
                <img class='img48' src='/usersimg/{{ username }}-48.jpg' alt='{{ realname }}'>
                </a>
            </div>
            <div class='bd'>
                <div class='text'><a class='lk' href='/#!/{{ username }}' title='{{ realname }}'>{{ realname }}</a>
                {{ text }}
				{{#picture}}
				<img src="/usersimg/{{ picture }}-160.jpg" class="img160 weiboImg"/>
				<div class='imgPre hide'>
					<div class='imgrote middle'>
						<img src="/usersimg/{{ picture }}-320.jpg" class="img320 preImg"/>
				    </div>
				    <a class='weiboImgRotateL link mr10'>左转</a>
					<a class='weiboImgRotateR link mr10'>右转</a>
					<a href='/usersimg/{{ picture }}.jpg' class='link' target='_blank'>查看原图</a>
				</div>
				{{/picture}}
                </div>
                {{#attach}}
                <div class='attach'>
                    {{#img}}
                        <div class='attimg'>
                            <img src='/usersimg/{{img}}' class='img-w160' alt=''>
                        </div>
                    {{/img}}
                    {{#title}}
                        <h6><a href='{{src}}' title='{{title}}' target='_blank'>{{title}}</a></h6>
                    {{/title}}
                    {{#source}}
                        <p class='prop'>来自<a href='#' class='lk' target='_blank'>{{soures}}</a></p>
                    {{/source}}
                    {{#desc}}
                        <p class='desc'>{{desc}}</p>
                    {{/desc}}
                </div>
                {{/attach}}
                {{#repmod}}<div class='repmod'><span class='gray'>回应了我：</span>{{repmod}}</div>{{/repmod}}
            </div>
            <div class='fd'>
                <b class='twarrow png'></b>
                <span class='stat'>{{time}}
                {{#source}}<a class='ml5 lk'>{{source}}</a>{{/source}}
                </span>
                <a class='replay png' href='#'>回复</a>
                <a class='resub ml5 png' href='#'>转发</a>
                <a class='fav ml5 png' href='#'>收藏</a>
                <b class='cloarrow png'></b>
            </div>
            <div class='extend'>

            </div>
        </script>
        <script type="text/html" id="stream-extend">
                <input class='mttext' type='text' value='发表点评论...' />
                <a class='btn'>提交</a>
                <ul class='msglist'>
                <li>
                <img src=''>
                </li>
                </ul>
        </script>